swagger: '2.0'
info:
  description: |
    URL для http запроса
    рабочая среда https://solutions.worldclass.ru/API/hs/external
    тестовая среда https://tsolutions.worldclass.ru/API/hs/external
  version: '1.0'
  title: API WorldClass
  termsOfService: ''
  contact:
    email: SupportKPO@wclass.ru
host: tsolutions.worldclass.ru
basePath: /API/hs/external
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: General
  - name: Customers
  - name: Membership
  - name: Information
  - name: Schedules
  - name: Lists
  - name: Events
  - name: Games
  - name: Payment
  - name: Service
  - name: Cache
  - name: KPO
  - name: Polls
  - name: Rooms
  - name: NetMonet
  - name: All methods
paths:
  /general/config:
    post:
      summary: инф. о токене сеанса (CONNECT)
      tags:
        - General
      description: Информация о токене сеанса и актуальной версии приложения
      consumes: []
      parameters:
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/request'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              appType:
                type: string
                description: тип приложения
                enum:
                  - Customer
                  - Employee
              systemType:
                type: string
                description: тип операционной системы
                enum:
                  - Android
                  - iOS
                  - Web
                example: iOS
            required:
              - appType
              - systemType
          x-examples: {}
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            required:
              - minVersion
            type: object
            properties:
              minVersion:
                type: integer
                description: номер минимально необходимой версии
              tokenInfo:
                type: object
                description: 'описание токена сеанса, при условии, что был передан auth-key'
                properties:
                  appType:
                    type: string
                    description: тип приложения
                    enum:
                      - Customer
                      - Employee
                  appVersion:
                    type: integer
                    description: версия приложения
                  chainCode:
                    type: integer
                    description: код сети
                  deviceModel:
                    type: string
                    description: модель устройства
                  deviceToken:
                    type: string
                    description: токен устройства
                  systemType:
                    type: string
                    description: тип операционной системы
                    enum:
                      - Android
                      - iOS
                      - Web
                  systemVersion:
                    type: string
                    description: версия операционной системы
        '401':
          description: токен не валиден
      operationId: config
    x-restlet:
      section: General
    parameters: []
  /general/registerDevice:
    post:
      summary: регистрация устройства (CONNECT)
      tags:
        - General
      description: 'Регистрирует устройство в личном кабинете, возвращает токен сеанса. Дальнейшая авторизация всех запросов от устройства проходит по данному токену.'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/request'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              appType:
                type: string
                description: тип приложения
                enum:
                  - Customer
                  - Employee
                  - Web
              appVersion:
                type: integer
                default: 101
                description: версия приложения
              chainCode:
                type: integer
                default: 1
                description: код сети
              deviceModel:
                type: string
                description: модель устройства
                example: iPhone 7
              deviceToken:
                type: string
                description: токен устройства
                example: 2d181c7d7289b049a2a735b1e1f6e94c72354ea686ab9f09d280e6619046e70a
              systemType:
                type: string
                description: тип операционной системы
                enum:
                  - Android
                  - iOS
                  - Web
                example: iOS
              systemVersion:
                type: string
                description: версия операционной системы
                example: '12.2'
              timeStamp:
                type: integer
                description: штамп времени
                example: 123456789
              hash:
                type: string
                description: hash
                example: e3ef5eb30be420ecc0309ff0ebba2c8fabdfbd7ae5a6d71387e9d20c32f739aa
            required:
              - appType
              - appVersion
              - chainCode
              - deviceModel
              - deviceToken
              - systemType
              - systemVersion
          x-examples: {}
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            required:
              - token
            type: object
            properties:
              token:
                type: string
                description: ключ авторизации (токен)
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            description: '[описание ошибок](https://wclass.restlet.io/#text_______)'
            properties:
              result:
                type: string
                description: код ошибки
                enum:
                  - noDeviceToken
                  - noSystemVersion
                  - noAppVersion
              description:
                type: string
                description: описание ошибки
      operationId: registerDevice
    x-restlet:
      section: General
    parameters: []
  /general/signIn:
    post:
      summary: авторизация пользователя (CONNECT)
      tags:
        - General
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/request'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              phone:
                type: string
                description: номер телефона
                example: '+79154006161'
              chainCode:
                type: number
                default: 1
                description: код сети
            required:
              - phone
              - chainCode
          x-examples: {}
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            required:
              - result
              - retryTime
              - token
            type: object
            properties:
              result:
                type: string
                description: Ok
                enum:
                  - Ok
                  - Fail
              retryTime:
                type: integer
                description: количество минут до следующей отправки
              token:
                type: string
                description: ключ авторизации (токен)
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
                enum:
                  - noUserPhone
                  - noChain
              description:
                type: string
                description: описание ошибки
      description: авторизация пользователя
      operationId: signIn
    x-restlet:
      section: General
    parameters: []
  /general/confirmPhone:
    post:
      summary: подтверждение пароля (CONNECT)
      tags:
        - General
      description: ввод пароля из смс
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/request'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              password:
                type: string
                description: код подтверждения из смс
                example: '7954'
            required:
              - password
          x-examples:
            example: '{"password": "7954"}'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              userProfile:
                type: object
                description: профиль пользователя
                required:
                  - registrationDate
                  - phone
                  - birthday
                  - firstName
                  - secondName
                  - lastName
                  - gender
                  - email
                  - status
                  - canUpdatePersonalData
                  - photo
                  - rating
                  - subscriptionEmail
                  - subscriptionSms
                  - barcode
                  - uid
                properties:
                  registrationDate:
                    type: string
                    format: date
                    description: дата регистрации в ЛК
                  phone:
                    type: string
                    description: телефон
                  birthday:
                    type: string
                    format: date
                    description: дата рождения
                  firstName:
                    type: string
                    description: имя
                  secondName:
                    type: string
                    description: отчество
                  lastName:
                    type: string
                    description: фамилия
                  gender:
                    type: string
                    description: пол
                    enum:
                      - male
                      - female
                      - none
                  email:
                    type: string
                    description: электронный адрес
                  status:
                    type: string
                    description: статус пользователя connect
                    enum:
                      - active
                      - missingPersonalData
                      - unauthorized
                  canUpdatePersonalData:
                    type: boolean
                    description: Флаг разрешающий обновлять персональные данные
                  photo:
                    type: string
                    description: URL фотографии
                  rating:
                    type: string
                    description: рейтинг
                  subscriptionEmail:
                    type: boolean
                    description: подписка на письма
                  subscriptionSms:
                    type: boolean
                    description: подписка на смс
                  barcode:
                    type: string
                    description: штрихкод
                  uid:
                    type: string
                    description: идентификатор
              userList:
                type: array
                description: 'список пользователей с одинаковым номером телефона в учетной . системе. Если список пуст, значит был только один пользователь с этим номером'
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: представление пользователя
                    uid:
                      type: string
                      description: идентификатор пользователя
                  required:
                    - name
                    - uid
              token:
                type: string
                description: ключ авторизации (токен)
            required:
              - userProfile
              - userList
              - token
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
                enum:
                  - passwordError
                  - passwordExpired
                  - passwordNotCorrect
                  - passwordRequired
              description:
                type: string
                description: описание ошибки
      operationId: confirmPhone
    x-restlet:
      section: General
    parameters: []
  /general/addUserToToken:
    post:
      summary: добавление пользователя в токен (CONNECT)
      tags:
        - General
      description: происходит связка токена с пользователем
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/request'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор пользователя
                example: 51c390fc-d63c-11e6-8218-005056b15e5d
            required:
              - uid
          x-examples: {}
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            required:
              - token
              - userProfile
            type: object
            properties:
              userProfile:
                required:
                  - birthday
                  - canUpdatePersonalData
                  - email
                  - firstName
                  - gender
                  - lastName
                  - phone
                  - photo
                  - registrationDate
                  - secondName
                  - status
                type: object
                description: профиль пользователя
                properties:
                  registrationDate:
                    type: string
                    format: date
                    description: дата регистрации в ЛК
                  phone:
                    type: string
                    description: телефон
                  birthday:
                    type: string
                    format: date
                    description: дата рождения
                  firstName:
                    type: string
                    description: имя
                  secondName:
                    type: string
                    description: отчество
                  lastName:
                    type: string
                    description: фамилия
                  gender:
                    type: string
                    description: пол
                    enum:
                      - male
                      - female
                      - none
                  email:
                    type: string
                    description: электронный адрес
                  status:
                    type: string
                    description: статус пользователя connect
                    enum:
                      - active
                      - missingPersonalData
                      - unauthorized
                  canUpdatePersonalData:
                    type: boolean
                    description: Флаг разрешающий обновлять персональные данные
                  photo:
                    type: string
                    description: URL фотографии
              token:
                type: string
                description: ключ авторизации (токен)
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
                enum:
                  - passwordError
                  - passwordExpired
                  - passwordNotCorrect
                  - passwordRequired
              description:
                type: string
                description: описание ошибки
      operationId: addUserToToken
    x-restlet:
      section: General
    parameters: []
  /general/singOut:
    post:
      summary: выход пользователя из токена (CONNECT)
      tags:
        - General
      description: Удаление пользователя из токена
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/request'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            required:
              - token
            type: object
            properties:
              token:
                type: string
                description: ключ авторизации (токен)
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      operationId: singOut
    x-restlet:
      section: General
    parameters: []
  /user/accountProfile:
    post:
      summary: профиль пользователя connect (CONNECT)
      description: Ответственный 
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: accountProfile
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              registrationDate:
                type: string
                format: date
                description: Дата регистрации в ЛК
              phone:
                type: string
                description: Номер телефона
              birthday:
                type: string
                format: date
                description: Дата рождения
              firstName:
                type: string
                description: Имя
              secondName:
                type: string
                description: Отчество
              lastName:
                type: string
                description: Фамилия
              gender:
                type: string
                description: Пол
                enum:
                  - male
                  - female
                  - none
              email:
                type: string
                description: электронный адрес
              status:
                type: string
                description: статус пользователя connect
                enum:
                  - active
                  - missingPersonalData
                  - unauthorized
              canUpdatePersonalData:
                type: boolean
                description: Флаг разрешающий обновлять персональные данные
              photo:
                type: string
                description: URL фотографии
            required:
              - registrationDate
              - phone
              - birthday
              - firstName
              - secondName
              - lastName
              - gender
              - email
              - status
              - canUpdatePersonalData
              - photo
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
                enum:
                  - userNotfound
              description:
                type: string
                description: описание ошибки
      tags:
        - Users
      operationId: accountProfile
    x-restlet:
      section: Users
    parameters: []
  /user/userProfile:
    post:
      summary: профиль пользователя (CONNECT)
      description: Ответственный 
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: userProfile
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              registrationDate:
                type: string
                format: date
                description: Дата регистрации в ЛК
              birthday:
                type: string
                format: date
                description: Дата рождения
              firstName:
                type: string
                description: Имя
              secondName:
                type: string
                description: Отчество
              lastName:
                type: string
                description: Фамилия
              code:
                type: string
                description: код клиента
              barcode:
                type: string
                description: Штрикод
              gender:
                type: string
                description: Пол
                enum:
                  - male
                  - female
                  - none
              phone:
                type: string
                description: Номер телефона
              email:
                type: string
                description: электронный адрес
              subscriptionEmail:
                type: boolean
                description: Согласие на email рассылку
              subscriptionSms:
                type: boolean
                description: Согласие на sms рассылку
              status:
                type: string
                description: статус пользователя connect
                enum:
                  - active
                  - missingPersonalData
                  - unauthorized
              rating:
                type: string
                description: 'Рейтинг клиента, в программе лояльности'
              canUpdatePersonalData:
                type: boolean
                description: Флаг разрешающий обновлять персональные данные
              photo:
                type: string
                description: URL фотографии
              specialList:
                type: boolean
                description: Признак нахождения клиента в черном списке
              personalManager:
                type: object
                description: персональный менеджер
                properties:
                  firstName:
                    type: string
                    description: имя
                  secondName:
                    type: string
                    description: отчество
                  lastName:
                    type: string
                    description: фамилия
                  email:
                    type: string
                    description: электронный адрес
                  phone:
                    type: string
                    description: номер телефона
                  photo:
                    type: string
                    description: URL фотографии
                required:
                  - firstName
                  - secondName
                  - lastName
                  - email
                  - phone
                  - photo
              uid:
                type: string
                description: идентификатор клиента
            required:
              - registrationDate
              - birthday
              - firstName
              - secondName
              - lastName
              - barcode
              - gender
              - phone
              - email
              - subscriptionEmail
              - subscriptionSms
              - status
              - rating
              - canUpdatePersonalData
              - photo
              - uid
          examples: {}
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Users
      operationId: userProfile
    x-restlet:
      section: Users
    parameters: []
  /user/userSummary:
    post:
      summary: суммарная информация по пользователю (CONNECT)
      description: Ответственный .
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: userSummary
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              balance:
                type: number
                description: баланс лицевого счета пользователя
              bonus:
                type: number
                description: баланс бонусного счета пользователя
              paymentService:
                type: object
                description: количество услуг подлежащих оплате
                properties:
                  quantity:
                    type: number
                    description: количество
                  amount:
                    type: number
                    description: сумма
                required:
                  - quantity
                  - amount
              membershipList:
                type: array
                description: список абонементов
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      description: статус абонемента
                      enum:
                        - active - активирован
                        - frozen - заморожен
                        - notActive - не активирован
                        - locked - заблокирован
                        - waitActivation - ожидание активации
                        - expired - закончившийся
                    quantity:
                      type: number
                      description: Количество
                    expirationDate:
                      type: string
                      format: date
                      description: дата окончания действия/заморозки абонемента
                    paymentStatus:
                      type: string
                      enum:
                        - paid
                        - waitConfirmPaid
                        - waitPaid
                    useType:
                      type: string
                      enum:
                        - forUse
                        - forTransmission
                  required:
                    - status
                    - quantity
                    - expirationDate
                    - paymentStatus
                    - useType
              packageList:
                type: array
                description: список пакетов
                items:
                  type: object
                  properties:
                    status:
                      type: string
                      description: статус пакета
                    quantity:
                      type: number
                      description: Количество
                    expirationDate:
                      type: string
                      format: date
                      description: дата окончания действия пакета
                    reserve:
                      type: number
                      description: зарезервировано
                  required:
                    - status
                    - quantity
                    - expirationDate
                    - reserve
              rentedLockerList:
                type: array
                description: список арендованных шкафчиков
                items:
                  type: object
                  properties:
                    locker:
                      type: string
                      description: наименование шкафа/ячейки
                    expirationDate:
                      type: string
                      format: date
                      description: Дата окончания аренды
                  required:
                    - locker
                    - expirationDate
              financialHistory:
                type: string
                description: история финансовых операций
              support:
                type: string
                description: поддержка
              reserveBalance:
                type: number
                description: заразервировано с депозита
            required:
              - reserveBalance
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Users
      operationId: userSummary
    x-restlet:
      section: Users
    parameters: []
  /customers/paymentServiceList:
    post:
      summary: список услуг к оплате - 6.1
      description: |-
        Метод возвращает список неоплаченных документов продаж/счетов по услугам клиента

        Ответственный IT
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: paymentServiceList
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in:  body
          required: false
          schema:
            type: object
            properties:
              uidList:
                type: array
                description: 'список идентификаторов заявок на оплату (если заполнен, то информация только по заявкам из списка)'
                items:
                  type: string
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
                type: object
                properties:
                  date:
                    type: string
                    description: Дата время оказания/продажи услуги
                  docId:
                    type: string
                    description: идентификатор документа продажи/счета
                    minLength: 36
                    maxLength: 36
                  docType:
                    type: string
                    description: тип документа
                    enum:
                      - invoice - чек
                      - personal - персональная тренировка
                      - group - групповой урок
                  docName:
                    type: string
                    description: наименование документа(для СПА)
                  amount:
                    type: number
                    description: сумма
                  discountedAmount:
                    type: number
                    description: сумма со скидкой
                  gym:
                    type: object
                    description: клуб
                    required:
                      - uid
                      - name
                    properties:
                      uid:
                        type: string
                        description: идентификатор клуба
                        minLength: 36
                        maxLength: 36
                      name:
                        type: string
                        description: наименование клуба
                  employee:
                      type: object
                      properties:
                        uid:
                          type: string
                          description: идентификатор тренера
                        firstName:
                          type: string
                          description: Имя сотрудника
                        secondName:
                          type: string
                          description: Фамилия сотрудника
                        photo:
                          type: string
                          description: ссылка на фото
                  serviceList:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: наименование описания услуги
                        quantity:
                          type: number
                          description: количество
                        price:
                          type: number
                          description: прайсовая цена
                        amount:
                          type: number
                          description: сумма
                        photo:
                          type: string
                          description: ссылка на фото услуги
                      required:
                        - name
                        - quantity
                        - price
                        - amount
                  customer:
                    type: string
                    description: Для поддержки строй версии (фамиля имя клиента)
                  customerObject:
                    type: object
                    description: если долг не клиента а его ребенка
                    properties:
                      uid:
                        type: string
                        description: идентификатор клиента
                      name:
                        type: string
                        description: 'фамилия, имя клиента'
                    required:
                      - uid
                      - name
                required:
                  - docId
                  - docType
                  - amount
                  - discountedAmount
                  - gym
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: paymentServiceList
    x-restlet:
      section: Customers
    parameters: []
  /customers/membershipList:
    post:
      summary: cписок абонементов - 8.1; 8.2
      description: |-
        Метод возвращает список оформленных абонементов, по которым не истех срок и где пользователь является клиентом или владельцем

        Ответственный IT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: membershipList
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              customerType:
                type: string
                default: self
                description: 'тип клиента абонемента, показывает в каком качестве для абонемента выступает пользователь ЛК'
                enum:
                  - self
                  - other
                  - self&other
                example: self
              requestType:
                type: string
                description: 'тип запроса'
                enum:
                  - firstActual
                example: firstActual
              uidList:
                type: array
                description: 'список идентификаторов контрактов (если заполнен, то информация только контрактов из списка)'
                items:
                  type: string
            required:
              - customerType
          x-examples: {}
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор абонемента
                code:
                  type: string
                  description: номер/код абонемента
                name:
                  type: string
                  description: наименование абонемента
                shortDiscription:
                  type: string
                  description: краткое описание абонемента
                paymentStatus:
                  type: string
                  description: статус оплаты
                  enum:
                    - paid - 100% оплачен
                    - waiting
                    - confirming
                status:
                  type: string
                  description: Статус абонемента
                  enum:
                    - active - активирован
                    - frozen - заморожен
                    - paused - приостановлен
                    - inactive - не активирован
                    - locked - заблокирован
                    - pending - ожидание активации
                    - expired - закончившийся
                duration:
                  type: integer
                  description: длительность
                startDate:
                  type: string
                  format: date
                  description: дата начала действия абонемента
                endDate:
                  type: string
                  format: date
                  description: дата окончания действия абонемента
                freezingEndDate:
                  type: string
                  format: date
                  description: дата окончания заморозки
                freezing:
                  type: number
                  description: количество оставшихся дней заморозки
                serviceQuantity:
                  type: number
                  description: 'количество услуг, включенных в абонемент'
                photo:
                  type: string
                  description: URL фотографии
                useType:
                  type: string
                  description: тип использования абонемента
                  enum:
                    - forUse - для использования
                    - forTransfer
                experience:
                  type: string
                  description: стаж клиента
                  enum:
                    - New
                    - Renew
                    - Ex
                owner:
                  type: object
                  description: Владелец абонемента
                  required:
                    - uid
                    - name
                  properties:
                    uid:
                      type: string
                      description: идентификатор контрагента
                    name:
                      type: string
                      description: наименование контрагента
                gymList:
                  type: array
                  description: список клубов доступа
                  items:
                    type: object
                    properties:
                      uid:
                        type: string
                        description: идентификатор клуба
                      name:
                        type: string
                        description: наименование
                      main:
                        type: boolean
                        description: флаг показывающий является ли данный клуб основным по абонементу
                    required:
                      - uid
                      - name
                      - main
                paymentSchedule:
                  type: array
                  description: график платежей
                  items:
                    type: object
                    properties:
                      date:
                        type: string
                        format: date
                        description: дата платежа
                      amount:
                        type: number
                        description: оставшаяся сумма платежа
                    required:
                      - date
                      - amount
                customerList:
                  type: array
                  description: список клиентов
                  items:
                    type: object
                    properties:
                      uid:
                        type: string
                        description: идентификатор клиента
                      name:
                        type: string
                        description: наименование клиента
                      main:
                        type: boolean
                        description: флаг показывающий является ли данный клуб основным по абонементу
                    required:
                      - uid
                      - name
                      - main
                freezingStartDate:
                  type: string
                  format: date
                  description: дата начала заморозки
                canPurchaseFreezing:
                  type: boolean
                  description: возможность приобретения заморозки
                minFreezingAmount:
                  type: number
                  description: Минимальное количество дней для новой заморозки
                activationDate:
                  type: string
                  description: Дата автоактивации абонемента
                  format: date
              required:
                - uid
                - code
                - name
                - shortDiscription
                - paymentStatus
                - status
                - duration
                - serviceQuantity
                - photo
                - useType
                - owner
                - gymList
                - paymentSchedule
                - customerList
                - canPurchaseFreezing
                - experience
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - result
              - description
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Membership
      operationId: membershipList
    x-restlet:
      section: Customers
    parameters: []
  /customers/membershipServiceList:
    post:
      summary: список услуг и подарков абонемента - 8.4
      description: |-
        Метод возвращает список услуг и подарков, включенных в абонемемент

        Ответственный IT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: membershipServiceList
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор абонемента
                example: 4f1225f6-cb40-11e9-bba8-005056b11c47
            required:
              - uid
          x-examples: {}
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
              type: object
              properties:
                serviceList:
                  type: array
                  description: список услуг включенных в абонемент
                  items:
                    $ref: '#/definitions/service'
                giftList:
                  type: array
                  description: список подарков по абонементу
                  items:
                    type: object
                    properties:
                      uid:
                        type: string
                        description: идентификатор подарка
                      name:
                        type: string
                        description: наименование подарка
                      description:
                        type: string
                        description: описание подарка
                      quantity:
                        type: integer
                        description: количество
                      photo:
                        type: string
                        description: URL фотографии
                      type:
                        type: string
                        description: тип подарка
                        enum:
                          - service
                          - discount
                          - bonus
                          - freezing
                          - membership
                          - access
                    required:
                      - uid
                      - name
                      - description
                      - quantity
                      - photo
                      - type
              required:
                - serviceList
                - giftList
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Membership
      operationId: membershipServiceList
    x-restlet:
      section: Customers
    parameters: []
  /customers/financialHistory:
    post:
      summary: история финансовых операций - 12.1; 12.2
      description: |-
        Метод возвращает список финансовых операций за заданных период времени.

        Ответственный 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: financialHistory
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - endDate
              - startDate
            properties:
              startDate:
                type: string
                format: date
                description: дата начала
                example: '2019-07-01T00:00:00'
              endDate:
                type: string
                format: date
                description: дата окончания
                example: '2019-07-31T23:59:59'
          x-examples: {}
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                date:
                  type: string
                  format: date
                  description: время операции
                doc:
                  type: object
                  description: документ
                  required:
                    - uid
                    - name
                    - docType
                  properties:
                    uid:
                      type: string
                      description: идентификатор документа
                    name:
                      type: string
                      description: наименование документа
                    docType:
                      type: string
                      description: тип документа
                amount:
                  type: number
                  description: сумма документа
                serviceList:
                  type: array
                  description: список оплаченных услуг
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: наименование услуги
                      amount:
                        type: number
                        description: сумма
                    required:
                      - name
                      - amount
                paymentList:
                  type: array
                  description: список способов оплаты
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: наименование способа оплаты
                      amount:
                        type: number
                        description: сумма
                      holder:
                        type: string
                        description: 'владелец ресурса, с которого осуществляется оплата'
                    required:
                      - name
                      - amount
                type:
                  type: string
                  description: тип операции
                  enum:
                    - payment
                    - refund
                direction:
                  type: string
                  description: вид движения (приход/расход)
                  enum:
                    - income
                    - expense
              required:
                - date
                - doc
                - amount
                - serviceList
                - paymentList
                - type
          examples:
            application/json: список финансовых операций
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: financialHistory
    x-restlet:
      section: Customers
    parameters: []
  /customers/bonusHistory:
    post:
      summary: история бонусных операций
      description: |-
        Метод возвращает список бонусных операций за заданных период времени.

        Ответственный 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: bonusHistory
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - endDate
              - startDate
            properties:
              startDate:
                type: string
                format: date
                description: дата начала
                example: '2019-07-01T00:00:00'
              endDate:
                type: string
                format: date
                description: дата окончания
                example: '2019-07-31T23:59:59'
          x-examples: {}
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              required:
                - amount
                - date
                - name
              type: object
              properties:
                date:
                  type: string
                  format: date
                  description: время операции
                name:
                  type: string
                  description: наименование услуги
                amount:
                  type: number
                  description: сумма
          examples:
            application/json: список финансовых операций
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: bonusHistory
    x-restlet:
      section: Customers
    parameters: []
  /customers/contractHistory:
    post:
      summary: история контракта
      description: |-
        Метод возвращает список опреций по контракту(Продажа, Активация, Заморозка, Передача, Отказ от содоступа, Заявка на возврат контракта, Заявка на возврат денежных средств, Отказ от доп пакета, Изменение клубов доступа)

        Ответственный  
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: contractHistory
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - uid
            properties:
              uid:
                type: string
                format: string
                description: идентификатор контракта
                example:
          x-examples: { }
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              required:
                - operation
                - date
                - description
              type: object
              properties:
                date:
                  type: string
                  format: date
                  description: дата операции
                operation:
                  type: string
                  description: наименование операции
                description:
                  type: string
                  description: описание операции
          examples:
            application/json: список финансовых операций
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: contractHistory
    x-restlet:
      section: Customers
    parameters: [ ]
  /customers/familyAccount:
    post:
      summary: семейный счет - 11.1
      description: |-
        Метод возвращает список подключенных третьих лиц к авансам пользователя ЛК, и список авансов, третьих лиц к которым подключен пользователь ЛК

        Ответственный 
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: familyAccount
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            required:
              - accountUsers
              - availableAccounts
            type: object
            properties:
              accountUsers:
                type: array
                description: пользователи моего счета
                items:
                  required:
                    - accountList
                    - name
                    - uid
                  type: object
                  properties:
                    uid:
                      type: string
                      description: идентификатор клиента
                    name:
                      type: string
                      description: наименование клиента
                    accountList:
                      type: array
                      description: список доступных счетов
                      items:
                        required:
                          - accountType
                          - used
                        type: object
                        properties:
                          accountType:
                            type: string
                            description: вид семейного счета (вид ресурса)
                            enum:
                              - paymentCard
                              - bonus
                              - deposit
                          account:
                            required:
                              - name
                              - uid
                            type: object
                            description: семейный счет (ресурс)
                            properties:
                              uid:
                                type: string
                                description: идентификатор ресурса
                              name:
                                type: string
                                description: наименование
                          used:
                            type: boolean
                            description: флаг использования
              availableAccounts:
                type: array
                description: доступные счета
                items:
                  required:
                    - name
                    - uid
                  type: object
                  properties:
                    uid:
                      type: string
                      description: идентификатор клиента
                    name:
                      type: string
                      description: наименование клиента
                    accountList:
                      type: array
                      description: список доступных счетов
                      items:
                        required:
                          - accountType
                        type: object
                        properties:
                          accountType:
                            type: string
                            description: вид семейного счета (вид ресурса)
                            enum:
                              - paymentCard
                              - bonus
                              - deposit
                          account:
                            required:
                              - name
                              - uid
                            type: object
                            description: семейный счет (ресурс)
                            properties:
                              uid:
                                type: string
                                description: идентификатор ресурса
                              name:
                                type: string
                                description: наименование
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: familyAccount
    x-restlet:
      section: Customers
    parameters: []
  /customers/relatedCustomersProfile:
    post:
      summary: связанные клиенты - 8.12.1
      description: |-
        Возвращает список связанных клиентов

        Ответственный 
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: relatedCustomersProfile
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              required:
                - name
                - relateType
                - uid
                - firstname
                - lastname
                - middlename
                - balance
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор клиента
                name:
                  type: string
                  description: наименование клиента
                relateType:
                  type: string
                  description: тип связи
                firstname:
                  type: string
                  description: имя клиента
                lastname:
                  type: string
                  description: фамилия клиента
                middlename:
                  type: string
                  description: отчество клиента
                balance:
                  type: string
                  description: баланс из кэша
          examples:
            application/json: список связанных клиентов
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            required:
              - description
              - result
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: relatedCustomers
    x-restlet:
      section: Customers
    parameters: []
  /customers/rentedLockerList:
    post:
      summary: список арендованных ячеек - 10.1
      description: |-
        Возвращает список арендованных ячеек

        Ответственный 
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: rentedLockerList
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              required:
                - endDate
                - gym
                - name
                - room
                - startDate
                - type
                - uid
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор шкафа/ячейки
                name:
                  type: string
                  description: Наименование шкафа ячейки
                type:
                  type: string
                  description: тип шкафа ячейки
                  enum:
                    - locker
                    - safe
                gym:
                  required:
                    - gymId
                    - name
                  type: object
                  description: клуб
                  properties:
                    gymId:
                      type: string
                      description: Идентификатор клуба
                    name:
                      type: string
                      description: Наименование клуба
                room:
                  required:
                    - name
                    - uid
                  type: object
                  description: помещение
                  properties:
                    uid:
                      type: string
                      description: идентификатор помещения
                    name:
                      type: string
                      description: Наименование помещения
                startDate:
                  type: string
                  format: date
                  description: дата начала аренды
                endDate:
                  type: string
                  format: date
                  description: дата окончания аренды
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: rentedLockerList
    x-restlet:
      section: Customers
    parameters: []
  /customers/availableLockerList:
    post:
      summary: список доступных для аренды ячеек
      description: |-
        Возвращает список доступных для аренды ячеек

        Ответственный 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: availableLockerList
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - gymId
              - roomId
              - type
            properties:
              gymId:
                type: string
                description: идентификатор клуба
              roomId:
                type: string
                description: идентификатор помещения
              type:
                type: string
                description: тип шкафа/ячейки
                enum:
                  - locker
                  - safe
              lockerId:
                type: string
                description: идентификатор шкафа/ячейки
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              required:
                - name
                - price
                - priceType
                - startDate
                - endDate
                - serviceId
                - type
                - uid
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор шкафа/ячейки
                name:
                  type: string
                  description: наименование шкафа/ячейки
                type:
                  type: string
                  description: тип шкафа/ячейки
                  enum:
                    - locker
                    - safe
                price:
                  type: number
                  description: цена
                priceType:
                  type: string
                  description: тип цены
                  enum:
                    - month
                    - day
                startDate:
                  type: string
                  format: date
                  description: минимальная дата начала аренды
                endDate:
                  type: string
                  format: date
                  description: максимальная дата начала аренды
                serviceId:
                  type: string
                  description: идентификатор номенклатуры аренды
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Customers
      operationId: availableLockerList
    x-restlet:
      section: Customers
    parameters: []
  /info/employeeInfo:
    post:
      summary: описание сотрудника - 21.2 (CONNECT)
      description: |-
        Возвращает описание сотрудника

        Ответственный 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: employeeInfo
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Идентификатор сотрудника
                example: 0460b50a-d3c7-11e4-80d3-005056810138
            required:
              - uid
          x-examples:
            example:
              gymId: cc35e9b2-d155-11e4-80d1-005056810138
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор сотрудника
              firstName:
                type: string
                description: Имя
              lastName:
                type: string
                description: 'Фамилия  '
              isMyCoach:
                type: boolean
                description: это мой персональный тренер
              presentation:
                type: array
                items:
                  type: object
                  properties:
                    section:
                      type: string
                      description: раздел описания
                    description:
                      type: array
                      description: массив строк описания
                      items:
                        type: string
                  required:
                    - section
                    - description
              photos:
                type: array
                description: список URL фотографий
                items:
                  type: string
              objectiveList:
                type: array
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: идентификатор цели
                    name:
                      type: string
                      description: наименование цели
                    color:
                      type: string
                      description: цвет
              tagList:
                type: array
                description: список тегов
                items:
                  $ref: '#/definitions/tag'
              gender:
                type: string
                description: пол сотрудника
                enum:
                  - male
                  - female
              employeeCode:
                type: string
                description: код сотрудника
            required:
              - uid
              - firstName
              - lastName
              - isMyCoach
              - presentation
              - photos
              - tagList
              - gender
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Information
      operationId: employeeInfo
    x-restlet:
      section: Information
    parameters: []
  /info/membershipPriceInfo:
    post:
      summary: описание абонемента для покупки - 8.6; 8.7
      description: |-
        Возвращает описанеи абонемента,

        Ответственный IT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: membershipPriceInfo
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: идентификатор клуба
                example: cc35e9b2-d155-11e4-80d1-005056810138
              uid:
                type: string
                description: идентификатор номенклатуры
              uidDescription:
                type: string
                description: идентификатор описания номенклатуры
              customer:
                type: string
                description: идентифиикатор клиента
            required:
              - gymId
              - uid
              - uidDescription
          x-examples: {}
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              fullDescription:
                type: string
                description: полное описание абонемента
              photoList:
                type: array
                description: список URL фотографий
                items:
                  type: string
              paymentSchedule:
                type: array
                description: график платежей
                items:
                  type: object
                  properties:
                    paymentNumber:
                      type: number
                      description: номер платежа
                    amount:
                      type: integer
                      description: цена
                    amountDiscount:
                      type: integer
                      description: цено со скидкой
                  required:
                    - paymentNumber
                    - amount
                    - amountDiscount
              serviceList:
                type: array
                description: список услуг
                items:
                  $ref: '#/definitions/service'
              giftList:
                type: array
                description: список подарков
                items:
                  type: object
                  properties:
                    uidGiftGroup:
                      type: string
                      description: идентификатор группы подарков
                    nameGiftGroup:
                      type: string
                      description: наименование группы подарков
                    availableQuantity:
                      type: number
                      description: количество подарков из группы
                    giftGroupList:
                      type: array
                      description: расшифровка группы подарков
                      items:
                        type: object
                        properties:
                          giftName:
                            type: string
                            description: наименование подарка
                          giftType:
                            type: string
                            description: тип подарка
                            enum:
                              - service
                              - discount
                              - bonus
                              - freezing
                              - membership
                              - access
                              - membershipAndFreezing
                          quantity:
                            type: number
                            description: количество подарков
                          gymList:
                            type: array
                            description: список клубов
                            items:
                              type: object
                              properties:
                                uid:
                                  type: string
                                  description: идентификатор клуба
                                name:
                                  type: string
                                  description: наименование клуба
                              required:
                                - uid
                                - name
                          giftUid:
                            type: string
                            description: идентификатор подарка
                        required:
                          - giftName
                          - giftType
                          - giftUid
                    typeGiftGroup:
                      type: string
                      description: тип группы подарков
                      enum:
                        - discount
                        - gift
                        - giftChoose
                    uidDiscount:
                      type: string
                      description: идентификатор скидки
                  required:
                    - uidGiftGroup
                    - nameGiftGroup
                    - availableQuantity
                    - giftGroupList
                    - typeGiftGroup
                    - uidDiscount
              gymList:
                type: array
                description: Список доступных клубов
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: Идентификатор клуба
                    name:
                      type: string
                      description: Наименование клуба
                    main:
                      type: boolean
                      description: Основной клуб абонемента
                  required:
                    - uid
                    - name
                    - main
              paymentType:
                type: string
                description: тип оплаты
                enum:
                  - subscribe
                  - installment
                  - prepayment
                  - postpay
              available:
                type: boolean
                description: 'доступность покупки абонемента '
              accessTimeLimit:
                type: string
                description: описание ограничений на посещение клуба по абонементу
              ageCategory:
                type: string
                description: возрастная категория клиента
            required:
              - fullDescription
              - photoList
              - giftList
              - gymList
              - paymentType
              - available
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Information
        - Membership
      operationId: membershipPriceInfo
    x-restlet:
      section: Information
    parameters: []
  /schedules/gymSchedule:
    post:
      summary: расписание занятий в клубе/клубах - 18.1 (CONNECT)
      description: |-
        Возвращает расписание групповых программ в клубе/клубах

        Точки входа в метод:
        1. Непосредственно по кнопке в командной панели
        2. Из описания сотрудника
        3. Из описания услуги

          
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: gymSchedule
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymList:
                type: array
                default:
                  - cc35e9c2-d155-11e4-80d1-005056810138
                description: список идентификаторов клубов
                items:
                  type: string
              startDate:
                type: string
                description: дата начала
                format: date
                example: '2019-10-01T13:00:00'
              endDate:
                type: string
                description: дата окончания
                format: date
                example: '2019-10-15T00:00:00'
              serviceDescriptionId:
                type: string
                default: ''
                description: идентификатор описания услуги
              employeeId:
                type: string
                default: ''
                description: идентификатор сотрудника
              docId:
                type: string
                description: идентификатор документа
            required:
              - gymList
              - startDate
              - endDate
          x-examples: {}
          description: ''
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymList:
                type: array
                description: список идентификаторов клубов
                items:
                  type: string
              startDate:
                type: string
                format: date
                description: дата начала
                example: '2019-07-01T13:00:00'
              endDate:
                type: string
                format: date
                description: дата окончания
                example: '2019-07-15T00:00:00'
              serviceDescriptionId:
                type: string
                description: идентификатор описания услуги
              employeeId:
                type: string
                description: идентификатор сотрудника
            required:
              - gymList
              - startDate
              - endDate
          x-examples:
            example-1: {}
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                docId:
                  type: string
                  description: идентификатор документа группового занятия
                date:
                  description: время начала группового занятия
                  type: string
                service:
                  type: object
                  description: описание услуги
                  required:
                    - uid
                    - name
                    - shortDescription
                    - photo
                    - tagList
                  properties:
                    uid:
                      type: string
                      description: идентификатор описания услуги
                    name:
                      type: string
                      description: наименование описания услуги
                    shortDescription:
                      type: string
                      description: краткое описания услуги
                    photo:
                      type: string
                      description: URL фотографии
                    tagList:
                      type: array
                      description: теги
                      items:
                        $ref: '#/definitions/tag'
                isPreBooked:
                  type: boolean
                  description: требуется предварительная запись
                isPrePaid:
                  type: boolean
                  description: требуется предварительная оплата
                onlyWithParents:
                  type: boolean
                  description: при обязательном участии родителей
                onlyMembers:
                  type: boolean
                  description: только члены клуба
                duration:
                  type: number
                  description: длительность занятия
                employee:
                  type: object
                  description: сотрудник
                  required:
                    - uid
                    - firstName
                    - lastName
                  properties:
                    uid:
                      type: string
                      description: идентификатор сотрудника
                    firstName:
                      type: string
                      description: имя
                    lastName:
                      type: string
                      description: фамилия
                room:
                  type: object
                  description: наименование помещения
                  required:
                    - uid
                    - name
                    - latitude
                    - longitude
                  properties:
                    uid:
                      type: string
                    name:
                      type: string
                    latitude:
                      type: number
                    longitude:
                      type: number
                ageMin:
                  type: number
                  description: 'минимальный возраст,  в месяцах'
                ageMax:
                  type: number
                  description: 'максимальный возраст,  в месяцах'
                studentLevel:
                  type: string
                  description: уровень подготовки
                  enum:
                    - any
                    - high
                    - medium
                    - beginner
                serviceKindName:
                  type: string
                  description: вид деятельности
                gym:
                  type: object
                  description: клуб
                  required:
                    - uid
                    - name
                  properties:
                    uid:
                      type: string
                    name:
                      type: string
                recorded:
                  type: boolean
                  description: клиент записан на урок
                canCancel:
                  type: boolean
                  description: клиент может отменить запись на урок
                canRecord:
                  type: boolean
                  description: клиент может записаться на урок
                availablePlaces:
                  type: number
                  description: количество доступных мест
                price:
                  type: number
                  description: 'цена, если 0, то ставим неопределено'
                externalRefs:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: тип ресурса
                        enum:
                          - youtube
                          - instagram
                      ref:
                        type: string
                        description: ссылка на ресурс
                    required:
                      - type
                      - ref
                urlZoom:
                  type: string
                  description: ссылка на Zoom
              required:
                - docId
                - date
                - service
                - isPreBooked
                - isPrePaid
                - onlyWithParents
                - onlyMembers
                - duration
                - employee
                - room
                - ageMin
                - ageMax
                - studentLevel
                - serviceKindName
                - gym
                - recorded
                - canCancel
                - canRecord
                - availablePlaces
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Schedules
      operationId: gymSchedule
    x-restlet:
      section: Schedules
    parameters: []
  /schedules/gymScheduleNew:
    post:
      summary: расписание занятий в клубе/клубах - 18.1 (CONNECT)
      description: |-
        Возвращает расписание групповых программ в клубе/клубах

        Точки входа в метод:
        1. Непосредственно по кнопке в командной панели
        2. Из описания сотрудника
        3. Из описания услуги

        Ответственный  
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/content-type'
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: gymScheduleNew
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/brand'
        - $ref: '#/parameters/auth-key'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymList:
                type: array
                default:
                  - cc35e9c2-d155-11e4-80d1-005056810138
                description: список идентификаторов клубов
                items:
                  type: string
              startDate:
                type: string
                description: дата начала
                format: date
                example: '2019-10-01T13:00:00'
              endDate:
                type: string
                description: дата окончания
                format: date
                example: '2019-10-15T00:00:00'
              serviceDescriptionId:
                type: string
                default: ''
                description: идентификатор описания услуги
              employeeId:
                type: string
                default: ''
                description: идентификатор сотрудника
              docId:
                type: string
                description: идентификатор документа
            required:
              - gymList
              - startDate
              - endDate
          x-examples: { }
          description: ''
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymList:
                type: array
                description: список идентификаторов клубов
                items:
                  type: string
              startDate:
                type: string
                format: date
                description: дата начала
                example: '2019-07-01T13:00:00'
              endDate:
                type: string
                format: date
                description: дата окончания
                example: '2019-07-15T00:00:00'
              serviceDescriptionId:
                type: string
                description: идентификатор описания услуги
              groupType:
                type: string
                enum:
                  - gym
                  - online
                  - outdoor
                  - studio
                description: тип клуба
              employeeId:
                type: string
                description: идентификатор сотрудника
            required:
              - gymList
              - startDate
              - endDate
          x-examples:
            example-1: { }
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                docId:
                  type: string
                  description: идентификатор документа группового занятия
                date:
                  description: время начала группового занятия
                  type: string
                groupType:
                  description: тип клуба
                  type: string
                  enum:
                    - gym
                    - online
                    - studio
                    - outdoor
                service:
                  type: object
[...]
