swagger: '2.0'
info:
  description: |
    URL для http запроса
    рабочая среда https://solutions.worldclass.ru/API/hs/external
    тестовая среда https://tsolutions.worldclass.ru/API/hs/external
  version: '1.0'
  title: API WorldClass
  termsOfService: ''
  contact:
    email: SupportKPO@wclass.ru
host: tsolutions.worldclass.ru
basePath: /API/hs/external
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: General
  - name: Feedback
  - name: Membership
  - name: Information
  - name: Schedules
  - name: Lists
  - name: Gym
  - name: All methods
paths:

  /info/employeeInfo:
    post:
      summary: описание сотрудника - 21.2 (CONNECT)
      description: |-
        Возвращает описание сотрудника

        Ответственный Давид Мелкумян
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: employeeInfo
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: b6ef6889-b7c1-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Идентификатор сотрудника
                example: 0460b50a-d3c7-11e4-80d3-005056810138
            required:
              - uid
          x-examples:
            example:
              gymId: cc35e9b2-d155-11e4-80d1-005056810138
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор сотрудника
              firstName:
                type: string
                description: Имя
              lastName:
                type: string
                description: 'Фамилия  '
              isMyCoach:
                type: boolean
                description: это мой персональный тренер
              presentation:
                type: array
                items:
                  type: object
                  properties:
                    section:
                      type: string
                      description: раздел описания
                    description:
                      type: array
                      description: массив строк описания
                      items:
                        type: string
                  required:
                    - section
                    - description
              photos:
                type: array
                description: список URL фотографий
                items:
                  type: string
              tagList:
                type: array
                description: список тегов
                items:
                  $ref: '#/definitions/tag'
              gender:
                type: string
                description: пол сотрудника
                enum:
                  - male
                  - female
            required:
              - uid
              - firstName
              - lastName
              - isMyCoach
              - presentation
              - photos
              - tagList
              - gender
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Information
      operationId: employeeInfo
    x-restlet:
      section: Information
    parameters: [ ]
  /info/membershipPriceInfo:
    post:
      summary: описание абонемента для покупки - 8.6; 8.7
      description: |-
        Возвращает описанеи абонемента,

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: membershipPriceInfo
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: b6ef6889-b7c1-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: идентификатор клуба
                example: cc35e9b2-d155-11e4-80d1-005056810138
              uid:
                type: string
                description: идентификатор номенклатуры
              uidDescription:
                type: string
                description: идентификатор описания номенклатуры
              customer:
                type: string
                description: идентифиикатор клиента
            required:
              - gymId
              - uid
              - uidDescription
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              fullDescription:
                type: string
                description: полное описание абонемента
              photoList:
                type: array
                description: список URL фотографий
                items:
                  type: string
              paymentSchedule:
                type: array
                description: график платежей
                items:
                  type: object
                  properties:
                    paymentNumber:
                      type: number
                      description: номер платежа
                    amount:
                      type: integer
                      description: цена
                    amountDiscount:
                      type: integer
                      description: цено со скидкой
                  required:
                    - paymentNumber
                    - amount
                    - amountDiscount
              serviceList:
                type: array
                description: список услуг
                items:
                  $ref: '#/definitions/service'
              giftList:
                type: array
                description: список подарков
                items:
                  type: object
                  properties:
                    uidGiftGroup:
                      type: string
                      description: идентификатор группы подарков
                    nameGiftGroup:
                      type: string
                      description: наименование группы подарков
                    availableQuantity:
                      type: number
                      description: количество подарков из группы
                    giftGroupList:
                      type: array
                      description: расшифровка группы подарков
                      items:
                        type: object
                        properties:
                          giftName:
                            type: string
                            description: наименование подарка
                          giftType:
                            type: string
                            description: тип подарка
                            enum:
                              - service
                              - discount
                              - bonus
                              - freezing
                              - membership
                              - access
                              - membershipAndFreezing
                          quantity:
                            type: number
                            description: количество подарков
                          gymList:
                            type: array
                            description: список клубов
                            items:
                              type: object
                              properties:
                                uid:
                                  type: string
                                  description: идентификатор клуба
                                name:
                                  type: string
                                  description: наименование клуба
                              required:
                                - uid
                                - name
                          giftUid:
                            type: string
                            description: идентификатор подарка
                        required:
                          - giftName
                          - giftType
                          - giftUid
                    typeGiftGroup:
                      type: string
                      description: тип группы подарков
                      enum:
                        - discount
                        - gift
                        - giftChoose
                    uidDiscount:
                      type: string
                      description: идентификатор скидки
                  required:
                    - uidGiftGroup
                    - nameGiftGroup
                    - availableQuantity
                    - giftGroupList
                    - typeGiftGroup
                    - uidDiscount
              gymList:
                type: array
                description: Список доступных клубов
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: Идентификатор клуба
                    name:
                      type: string
                      description: Наименование клуба
                    main:
                      type: boolean
                      description: Основной клуб абонемента
                  required:
                    - uid
                    - name
                    - main
              paymentType:
                type: string
                description: тип оплаты
                enum:
                  - subscribe
                  - installment
                  - prepayment
                  - postpay
              available:
                type: boolean
                description: 'доступность покупки абонемента '
            required:
              - fullDescription
              - photoList
              - giftList
              - gymList
              - paymentType
              - available
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Membership
      operationId: membershipPriceInfo
    x-restlet:
      section: Information
    parameters: [ ]
  /schedules/gymSchedule:
    post:
      summary: расписание занятий в клубе/клубах - 18.1 (CONNECT)
      description: |-
        Возвращает расписание групповых программ в клубе/клубах

        Точки входа в метод:
        1. Непосредственно по кнопке в командной панели
        2. Из описания сотрудника
        3. Из описания услуги

        Ответственный Наталья Калиниченко (69691/KalinichenkoNP@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: gymSchedule
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключ авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymList:
                type: array
                default:
                  - cc35e9c2-d155-11e4-80d1-005056810138
                description: список идентификаторов клубов
                items:
                  type: string
              startDate:
                type: string
                description: дата начала
                format: date
                example: '2019-10-01T13:00:00'
              endDate:
                type: string
                description: дата окончания
                format: date
                example: '2019-10-15T00:00:00'
              serviceDescriptionId:
                type: string
                default: ''
                description: идентификатор описания услуги
              employeeId:
                type: string
                default: ''
                description: идентификатор сотрудника
              docId:
                type: string
                description: идентификатор документа
            required:
              - gymList
              - startDate
              - endDate
          x-examples: { }
          description: ''
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymList:
                type: array
                description: список идентификаторов клубов
                items:
                  type: string
              startDate:
                type: string
                format: date
                description: дата начала
                example: '2019-07-01T13:00:00'
              endDate:
                type: string
                format: date
                description: дата окончания
                example: '2019-07-15T00:00:00'
              serviceDescriptionId:
                type: string
                description: идентификатор описания услуги
              employeeId:
                type: string
                description: идентификатор сотрудника
            required:
              - gymList
              - startDate
              - endDate
          x-examples:
            example-1: { }
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                docId:
                  type: string
                  description: идентификатор документа группового занятия
                date:
                  description: время начала группового занятия
                  type: string
                service:
                  type: object
                  description: описание услуги
                  required:
                    - uid
                    - name
                    - shortDescription
                    - photo
                    - tagList
                  properties:
                    uid:
                      type: string
                      description: идентификатор описания услуги
                    name:
                      type: string
                      description: наименование описания услуги
                    shortDescription:
                      type: string
                      description: краткое описания услуги
                    photo:
                      type: string
                      description: URL фотографии
                    tagList:
                      type: array
                      description: теги
                      items:
                        $ref: '#/definitions/tag'
                isPreBooked:
                  type: boolean
                  description: требуется предварительная запись
                isPrePaid:
                  type: boolean
                  description: требуется предварительная оплата
                onlyWithParents:
                  type: boolean
                  description: при обязательном участии родителей
                onlyMembers:
                  type: boolean
                  description: только члены клуба
                duration:
                  type: number
                  description: длительность занятия
                employee:
                  type: object
                  description: сотрудник
                  required:
                    - uid
                    - firstName
                    - lastName
                  properties:
                    uid:
                      type: string
                      description: идентификатор сотрудника
                    firstName:
                      type: string
                      description: имя
                    lastName:
                      type: string
                      description: фамилия
                room:
                  type: object
                  description: наименование помещения
                  required:
                    - uid
                    - name
                    - latitude
                    - longitude
                  properties:
                    uid:
                      type: string
                    name:
                      type: string
                    latitude:
                      type: number
                    longitude:
                      type: number
                ageMin:
                  type: number
                  description: 'минимальный возраст,  в месяцах'
                ageMax:
                  type: number
                  description: 'максимальный возраст,  в месяцах'
                studentLevel:
                  type: string
                  description: уровень подготовки
                  enum:
                    - any
                    - high
                    - medium
                    - beginner
                serviceKindName:
                  type: string
                  description: вид деятельности
                gym:
                  type: object
                  description: клуб
                  required:
                    - uid
                    - name
                  properties:
                    uid:
                      type: string
                    name:
                      type: string
                recorded:
                  type: boolean
                  description: клиент записан на урок
                canCancel:
                  type: boolean
                  description: клиент может отменить запись на урок
                canRecord:
                  type: boolean
                  description: клиент может записаться на урок
                availablePlaces:
                  type: number
                  description: количество доступных мест
                price:
                  type: number
                  description: 'цена, если 0, то ставим неопределено'
                externalRefs:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: тип ресурса
                        enum:
                          - youtube
                          - instagram
                      ref:
                        type: string
                        description: ссылка на ресурс
                    required:
                      - type
                      - ref
                urlZoom:
                  type: string
                  description: ссылка на Zoom
              required:
                - docId
                - date
                - service
                - isPreBooked
                - isPrePaid
                - onlyWithParents
                - onlyMembers
                - duration
                - employee
                - room
                - ageMin
                - ageMax
                - studentLevel
                - serviceKindName
                - gym
                - recorded
                - canCancel
                - canRecord
                - availablePlaces
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Schedules
      operationId: gymSchedule
    x-restlet:
      section: Schedules
    parameters: [ ]
  /lists/gymList:
    post:
      summary: список клубов - 5.5; 20.1 (CONNECT)
      description: |-
        Возвращает список клубов заданной сети

        Ответственный Давид Мелкумян
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          type: string
          description: наименование запроса
          default: gymList
          required: true
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c47
          maxLength: 36
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              chain:
                type: integer
                description: идентификатор сети
                example: 1
              type:
                type: string
                enum:
                  - gym
                  - online
                  - studio
                  - outdoor
                description: тип клуба
          x-examples: { }
          description: 'request example  '
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор клуба
                  minLength: 36
                  maxLength: 36
                name:
                  type: string
                  description: наименование клуба
                type:
                  type: string
                  description: тип клуба
                address:
                  type: string
                  description: адрес клуба
                segment:
                  type: object
                  description: сегмент клуба
                  required:
                    - name
                    - color
                  properties:
                    name:
                      type: string
                    color:
                      type: string
                coords:
                  type: object
                  description: координаты
                  required:
                    - latitude
                    - longitude
                  properties:
                    latitude:
                      type: number
                      description: широта
                    longitude:
                      type: number
                      description: долгота
                metro:
                  type: array
                  description: метро
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: наименование
                      lineColor:
                        type: string
                        description: телефон
                      lineName:
                        type: string
                        description: время работы в будни
                      lineNumber:
                        type: string
                        description: время  работы в выходные и праздники
                    required:
                      - name
                      - lineColor
                      - lineName
                      - lineNumber
                phone:
                  type: string
                  description: основной телефон клуба
                hasAccess:
                  type: boolean
                  description: 'есть доступ, для не авторизованного клиента null'
                base:
                  type: boolean
                  description: 'основной клуб доступа'
                order:
                  type: integer
                  description: 'порядок вывода клуба'
                photo:
                  type: string
                  description: основное фото клуба
                state:
                  type: string
                  description: 'состояние: "Предпродажи", "Ремонт" и т.д.'
                weekdaysTime:
                  type: string
                  description: время работы в будни
                holidaysTime:
                  type: string
                  description: время работы в выходные
              required:
                - uid
                - name
                - type
                - address
                - segment
                - coords
                - metro
                - phone
                - photo
          examples: { }
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Gym
      operationId: gymList
    x-restlet:
      section: Lists
    parameters: [ ]
  /lists/roomList:
    post:
      summary: cписок помещений
      description: |-
        Возвращает список помещений клуба

        Ответственный Давид Мелкумян
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: roomList
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: 'идентификатор клуба, временно потом уберем'
                example: cc35e9b2-d155-11e4-80d1-005056810138
              type:
                type: string
                description: тип помещения
                enum:
                  - lockerRoom
                  - saferoom
                example: lockerRoom
              uid:
                type: string
                description: идентификатор клуба
                example: cc35e9b2-d155-11e4-80d1-005056810138
            required:
              - gymId
              - type
              - uid
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              required:
                - name
                - uid
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор помещения
                  minLength: 36
                  maxLength: 36
                name:
                  type: string
                  description: наименование помещения
                type:
                  type: string
                  description: тип помещения
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Gym
      operationId: roomList
    x-restlet:
      section: Lists
    parameters: [ ]
  /lists/chainList:
    post:
      summary: список сетей - 1.1 (CONNECT)
      description: |-
        Возвращает массив сетей подключенных к личному кабинету

        Ответственный Давид Мелкумян
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: chainList
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: None
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
      responses:
        '200':
          description: Status 200
          schema:
            type: array
            items:
              type: object
              properties:
                brand:
                  type: string
                  description: бренд
                code:
                  type: number
                  description: код сети
                holdingCode:
                  type: number
                  description: код холдинга
                name:
                  type: string
                  description: наименование сети
                loyaltyProgram:
                  type: string
                  description: бонусная система
                  enum:
                    - Rating
                    - Bonus
                    - RatingBonus
                    - None
                currencySymbol:
                  type: string
                  description: символ национальной валюты
                countryCode:
                  $ref: '#/definitions/countryCode'
                availableSections:
                  type: array
                  description: доступные разделы
                  items:
                    type: string
                    enum:
                      - packageInfo
                      - membershipInfo
                      - bonus
                      - rentedLockerList
                      - paymentPackage
                      - bannerList
                      - nearestService
                      - support
                      - balance
                      - familyAccount
                      - financialHistory
                rules:
                  type: string
                  description: ссылка на правил
                pdn:
                  type: string
                  description: ссылка на пдн
              required:
                - brand
                - code
                - holdingCode
                - name
                - loyaltyProgram
                - currencySymbol
                - countryCode
                - availableSections
                - rules
                - pdn
      tags:
        - General
      operationId: chainList
  /lists/countryCodeList:
    post:
      summary: список кодов стран - 1.2 (CONNECT)
      description: |-
        Список кодов номеров телефонов по странам с маской номеров телефонов

        Ответственный Давид Мелкумян
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: countryCodeList
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: None
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
      responses:
        '200':
          description: Status 200
          schema:
            type: array
            items:
              $ref: '#/definitions/countryCode'
      tags:
        - General
      operationId: countryCodeList
    x-restlet:
      section: Lists
    parameters: [ ]
  /lists/packagePriceList:
    post:
      summary: прайс лист пакетов услуг - 9.2
      description: |-
        Возвращает список описаний пакетов услуг с минимальной ценой

        Точки входа в метод:
        1. Список пакетов услуг по клубу
        2. Из описания услуги
        3. Из описания тренера

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: packagePriceList
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: b6ef6889-b7c1-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: идентификатор клуба
                example: cc35e9b2-d155-11e4-80d1-005056810138
              employeeTypeList:
                type: array
                default: [ ]
                description: список категорий сотрудника
                items:
                  type: string
              serviceList:
                type: array
                default: [ ]
                description: список услуг
                items:
                  type: string
            required:
              - gymId
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор описания пакета услуг
                name:
                  type: string
                  description: наименование описания
                shortDescription:
                  type: string
                  description: краткое описание пакета услуг
                photo:
                  type: string
                  description: URL фотогорафии
                price:
                  type: number
                  description: цена
                packageList:
                  type: array
                  description: 'список пакетов услуг, входящих в данное описание пакета услуг'
                  items:
                    type: object
                    properties:
                      uid:
                        type: string
                        description: идентификатор пакета услуг
                      price:
                        type: number
                        description: цена пакета услуг
                    required:
                      - uid
                      - price
              required:
                - uid
                - name
                - shortDescription
                - photo
                - price
                - packageList
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Lists
      operationId: packagePriceList
    x-restlet:
      section: Lists
    parameters: [ ]
  /lists/packageConstructor:
    post:
      summary: конструктор пакетов услуг - 9.3
      description: |-
        Возвращает список пакетов услуг по конкретному описанию

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: packageConstructor
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: b6ef6889-b7c1-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: идентификатор клуба
                example: cc35e9b2-d155-11e4-80d1-005056810138
              uid:
                type: string
                description: идентификатор описания пакета услуг
                example: cc35e9b2-d155-11e4-80d1-005056810138
              packageList:
                type: array
                description: 'список пакетов услуг, входящих в данное описание пакета услуг'
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: идентификатор пакета услуг
                    price:
                      type: number
                      description: цена пакета услуг
                  required:
                    - uid
                    - price
            required:
              - gymId
              - uid
              - packageList
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              photoList:
                type: array
                description: список URL фотографий описания пакетов услуг
                items:
                  type: string
              packageList:
                type: array
                description: список пакетов услуг
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: идентификатор пакета услуг
                    amount:
                      type: number
                      description: цена
                    amountDiscount:
                      type: number
                      description: цена со скидкой
                    quantity:
                      type: number
                      description: количество услуг в пакете
                    serviceList:
                      description: список услуг пакета
                      type: array
                      items:
                        $ref: '#/definitions/service'
                  required:
                    - uid
                    - amount
                    - amountDiscount
                    - quantity
                    - serviceList
            required:
              - photoList
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Lists
      operationId: packageConstructor
    x-restlet:
      section: Lists
    parameters: [ ]
  /lists/employeeList:
    post:
      summary: список сотрудников - 21.1 (CONNECT)
      description: |-
        Возвращает список сотрудников

        Ответственный Давид Мелкумян
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: employeeList
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор клуба
                example: cc35e9c2-d155-11e4-80d1-005056810138
            required:
              - uid
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор сотрудника
                firstName:
                  type: string
                  description: Имя
                lastName:
                  type: string
                  description: Фамилия
                photo:
                  type: string
                  description: URL фотографии
                isMyCoach:
                  type: boolean
                  description: это мой персональный тренер
                categoryList:
                  type: array
                  description: категории сотрудников
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: наименование категории сотрудника
                      serviceKind:
                        type: string
                        description: наименование направления
                      serviceType:
                        type: string
                        description: тип направления
                        enum:
                          - spa
                          - fitness
                    required:
                      - name
                      - serviceKind
                      - serviceType
                gender:
                  type: string
                  enum:
                    - male
                    - female
                  description: пол сотрудника
              required:
                - uid
                - firstName
                - lastName
                - photo
                - isMyCoach
                - categoryList
                - gender
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Gym
      operationId: employeeList
    x-restlet:
      section: Lists
    parameters: [ ]
  /lists/membershipPriceList:
    post:
      summary: прайс лист абонементов - 8.5
      description: |-
        Возвращает прайс лист абонементов

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: membershipPriceList
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: b6ef6889-b7c1-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: идентификатор клуба
                example: cc35e9b2-d155-11e4-80d1-005056810138
              customerType:
                type: string
                description: тип потенциального клиента
                enum:
                  - self
                  - other
                  - guest
                example: self
              customer:
                type: string
                description: 'идентификатор клиента, для кого осуществляется покупка'
            required:
              - gymId
              - customerType
          x-examples:
            example: '{"gymId": "cc35e9b2-d155-11e4-80d1-005056810138", "customerType": "self"}'
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор номенклатуры
                uidDescription:
                  type: string
                  description: идентификатор описания абонемента
                name:
                  type: string
                  description: наименование описания абонемента
                shortDescription:
                  type: string
                  description: короткое описание абонемента
                photo:
                  type: string
                  description: URL фотографии
                tagList:
                  type: array
                  description: теги
                  items:
                    type: object
                    properties:
                      tag:
                        type: string
                        description: тег
                      weight:
                        type: number
                        description: вес (приоритет)
                    required:
                      - tag
                      - weight
                paymentType:
                  type: string
                  description: тип оплаты
                  enum:
                    - prepayment
                    - installment
                    - subscribe
                    - postpay
                serviceQuantity:
                  type: number
                  description: количество услуг в пакете
                freezing:
                  type: number
                  description: количество дней заморозки
                price:
                  type: integer
                  description: цена (минимальная цена)
                duration:
                  type: number
                  description: длительность абонемента
                amount:
                  type: number
                  description: Сумма со скидкой
                description:
                  type: string
                  description: 'описание '
              required:
                - uid
                - uidDescription
                - name
                - shortDescription
                - photo
                - tagList
                - paymentType
                - serviceQuantity
                - freezing
                - price
                - duration
                - amount
                - description
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Membership
      operationId: membershipPriceList
    x-restlet:
      section: Lists
    parameters: [ ]
  /info/gymInfo:
    x-restlet:
      section: Gym
    post:
      summary: информация по клубу - 20.2 (CONNECT)
      description: |-
        Возвращает информацию по клубу

        Ответственный Давид Мелкумян
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: gymInfo
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
          maxLength: 0
        - in: body
          name: body
          schema:
            type: object
            properties:
              uid:
                type: string
                example: cc35e9bd-d155-11e4-80d1-005056810138
                description: идентификатор клуба
            required:
              - uid
          description: 'request example  '
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              state:
                type: string
                description: 'состояние: "Предпродажи", "Ремонт" и т.д.'
              additional:
                type: array
                description: дополнительное описание
                items:
                  type: object
                  properties:
                    typeDescription:
                      type: array
                      description: Описание типа направления
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: наименование
                          description:
                            type: string
                            description: доп. описание
                        required:
                          - name
                          - description
                    typeName:
                      type: string
                      description: Имя типа направления
                  required:
                    - typeDescription
                    - typeName
              metro:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    lineColor:
                      type: string
                    lineName:
                      type: string
                    lineNumber:
                      type: string
                  required:
                    - name
                    - lineColor
                    - lineName
                    - lineNumber
              photos:
                type: array
                description: список URL фотографий
                items:
                  type: string
              departments:
                type: array
                description: департаменты
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: наименование
                    phone:
                      type: string
                      description: телефон
                    weekdaysTime:
                      type: string
                      description: время работы в будни
                    holidaysTime:
                      type: string
                      description: время  работы в выходные и праздники
                  required:
                    - name
                    - phone
                    - weekdaysTime
                    - holidaysTime
              coords:
                type: object
                description: координаты
                required:
                  - latitude
                  - longitude
                properties:
                  latitude:
                    type: number
                    description: широта
                  longitude:
                    type: number
                    description: долгота
              segment:
                type: object
                description: наименование  сегмента клуба
                required:
                  - name
                  - color
                properties:
                  name:
                    type: string
                  color:
                    type: string
              address:
                type: string
                description: адрес клуба
              type:
                type: string
                description: тип клуба
              name:
                type: string
                description: наименование клуба
              uid:
                type: string
                description: идентификатор клуба
                minLength: 36
                maxLength: 36
            required:
              - additional
              - metro
              - photos
              - departments
              - coords
              - segment
              - address
              - type
              - name
              - uid
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Information
      operationId: gymInfo
    parameters: [ ]
  /lists/employeeListForPrebooking:
    x-restlet:
      section: Lists
    post:
      summary: список сотрудников  для предварительного бронирования- 21.1
      description: |-
        Возвращает список сотрудников

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: employeeListForPrebooking
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор клуба
                example: cc35e9c2-d155-11e4-80d1-005056810138
              serviceId:
                type: string
                description: индентификатор услуги
              date:
                type: string
                format: date-time
                description: желаемая дата услуги
            required:
              - uid
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                uid:
                  type: string
                  description: идентификатор сотрудника
                firstName:
                  type: string
                  description: Имя
                lastName:
                  type: string
                  description: Фамилия
                photo:
                  type: string
                  description: URL фотографии
                categoryList:
                  type: array
                  description: категории сотрудников
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: наименование категории сотрудника
                      serviceKind:
                        type: string
                        description: наименование направления
                      serviceType:
                        type: string
                        description: тип направления
                        enum:
                          - spa
                          - fitness
                    required:
                      - name
                      - serviceKind
                      - serviceType
              required:
                - uid
                - firstName
                - lastName
                - photo
                - categoryList
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Lists
      operationId: employeeListForPrebooking
    parameters: [ ]
  /lists/serviceListForPrebooking:
    x-restlet:
      section: Lists
    post:
      summary: 'список услуг для предварительного бронирования- 23.4.1, 23.4.2'
      description: |-
        Возвращает список услуг

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: serviceListForPrebooking
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор клуба
                example: cc35e9c2-d155-11e4-80d1-005056810138
              employeeId:
                type: string
                description: индентификатор сотрудника
              date:
                type: string
                format: date-time
                description: желаемая дата услуги
              services:
                type: array
                description: Массив идентификаторов услуг
                items:
                  type: string
              uidDescription:
                type: string
                description: идентификатор описания услуги
            required:
              - uid
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                serviceKind:
                  type: string
                  description: наименование направления
                entryList:
                  type: array
                  description: наименование направления
                  items:
                    type: object
                    properties:
                      uid:
                        type: string
                        description: идентификатор услуги
                      duration:
                        type: integer
                        description: 'продолжительность, мин'
                      name:
                        type: string
                        description: наименование услуги
                      employeeKind:
                        type: string
                        description: категория сотрудника
                      price:
                        type: number
                        description: прайсовая цена
                    required:
                      - uid
                      - duration
                      - name
                      - employeeKind
                      - price
                serviceType:
                  type: string
                  description: Бизнес направление услуги (фиснес или СПА)
                  enum:
                    - spa
                    - fitness
              required:
                - serviceKind
                - entryList
                - serviceType
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Lists
      operationId: serviceListForPrebooking
    parameters: [ ]
  /lists/dateListForPrebooking:
    x-restlet:
      section: Lists
    post:
      summary: список дат для предварительного бронирования- 23.5
      description: |-
        Возвращает список дат и времени на которые можно записаться. Возвращаем всегда текущую неделю плюс следующую

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: dateListForPrebooking
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор клуба
                example: cc35e9c2-d155-11e4-80d1-005056810138
              employeeId:
                type: string
                description: индентификатор сотрудника
              serviceId:
                type: string
                description: идентификатор услуги
            required:
              - uid
          x-examples: { }
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            description: массив свободных дат и времени
            items:
              type: object
              properties:
                date:
                  type: string
                  description: дата
                hoursList:
                  type: array
                  description: список часов
                  items:
                    type: string
              required:
                - date
                - hoursList
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Lists
      operationId: dateListForPrebooking
    parameters: [ ]
  /lists/dateListForPrebookingVisit:
    x-restlet:
      section: Lists
    post:
      summary: список дат для предварительного бронирования посещения клуба
      description: |-
        Возвращает список дат и времени на которые можно записаться для посещения клуба.

        Ответственный Андрей Юрков (69694/YurkovAM@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          type: string
          description: наименование запроса
          default: dateListForPrebookingVisit
          required: true
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: 4f1225f6-cb40-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: идентификатор клуба
                example: cc35e9c2-d155-11e4-80d1-005056810138
            required:
              - uid
          x-examples: { }
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            description: массив свободных дат и времени
            items:
              type: object
              properties:
                date:
                  type: string
                  description: дата
                timeRangeList:
                  type: array
                  description: список интервалов времени
                  items:
                    type: object
                    properties:
                      duration:
                        type: number
                        description: Длительность интервала в часах
                      hoursList:
                        type: array
                        description: список часов
                        items:
                          type: string
                    required:
                      - duration
                      - hoursList
              required:
                - date
                - timeRangeList
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Lists
      operationId: dateListForPrebookingVisit
    parameters: [ ]
  /lists/productList:
    post:
      summary: список услуг - 19.1 (CONNECT)
      description: |-
        Возвращает список услуг доступных в клубе

        Ответственный Станислав Евтушенко (69813/EvtushenkoSY@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          required: true
          type: string
          description: наименование запроса
          default: productList
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: b6ef6889-b7c1-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: идентификатор клуба
                example: cc35e9b2-d155-11e4-80d1-005056810138
              direction:
                type: string
                description: бизнес направление услуги
                enum:
                  - fitness
                  - spa
              entryType:
                type: array
                items:
                  type: object
                  properties:
                    entryType:
                      type: string
                      description: тип услуги
                      enum:
                        - course
                        - lesson
                        - personal
                        - group
                  required:
                    - entryType
            required:
              - gymId
              - direction
              - entryType
          x-examples: { }
          description: ''
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: array
            items:
              type: object
              properties:
                uid:
                  type: string
                  description: Идентификатор описания номенклатуры
                name:
                  type: string
                  description: наименование описания
                shortDescription:
                  type: string
                  description: краткое описание
                photo:
                  type: string
                  description: фото
                tagList:
                  type: array
                  description: теги
                  items:
                    $ref: '#/definitions/tag'
                entryList:
                  type: array
                  description: список идентификаторов услуг входящих в описание
                  items:
                    type: object
                    properties:
                      uid:
                        type: string
                        description: идентификатор услуги
                      entryType:
                        type: string
                        description: тип услуги
                        enum:
                          - personal
                          - group
                          - course
                          - lesson
                    required:
                      - uid
                      - entryType
                price:
                  type: number
                  description: 'цена, если отсутствует - не отображать, если =0 бесплатная'
              required:
                - uid
                - name
                - shortDescription
                - photo
                - tagList
                - entryList
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Lists
      operationId: serviceList
  /info/productInfo:
    post:
      summary: описание услуги - 19.2 (CONNECT)
      description: |-
        Возвращает описание услуги

        Ответственный Станислав Евтушенко (69813/EvtushenkoSY@wclass.ru)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: content-type
          in: header
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: request
          in: header
          type: string
          description: наименование запроса
          default: productInfo
          required: true
        - name: language
          in: header
          required: true
          type: string
          description: язык интерфейса клиента
          default: En
          enum:
            - Ru
            - En
        - name: brand
          in: header
          required: true
          type: string
          description: бренд
          default: WorldClass
          enum:
            - WorldClass
            - Fizkult
            - UFC
            - None
        - name: auth-key
          in: header
          required: true
          type: string
          description: ключи авторизации (токен)
          x-example: b6ef6889-b7c1-11e9-bba8-005056b11c47
          default: 4f1225f6-cb40-11e9-bba8-005056b11c470
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              uid:
                type: string
                description: Идентификатор описания услуги
                example: cc35e9b2-d155-11e4-80d1-005056810138
              entryList:
                type: array
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: идентификатор услуги
                    entryType:
                      type: string
                      description: тип услуги
                      enum:
                        - personal
                        - group
                        - course
                        - lesson
                  required:
                    - uid
                    - entryType
          x-examples: { }
      responses:
        '200':
          description: Выполнение запроса завершилось успешно
          schema:
            type: object
            properties:
              photoList:
                type: array
                description: список URL фотографий
                items:
                  type: string
              shortDescription:
                type: string
                description: краткое описание
              fullDescription:
                type: string
                description: полное описание
              addDescription:
                type: string
                description: дополнительное описание
              name:
                type: string
                description: наименоване услуги
              tagList:
                type: array
                description: список тегов
                items:
                  $ref: '#/definitions/tag'
              uid:
                type: string
                description: идентификатор описания услуги
              entryList:
                type: array
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: идентификатор услуги
                    entryType:
                      type: string
                      description: тип услуги
                      enum:
                        - personal
                        - group
                        - course
                        - lesson
                  required:
                    - uid
                    - entryType
              composition:
                type: array
                description: массив строк содержания
                items:
                  type: string
              attribute:
                type: array
                description: 'атрибуты, используется для курсов'
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    name:
                      type: string
                    order:
                      type: number
                  required:
                    - type
                    - name
                    - order
              content:
                type: array
                items:
                  type: object
                  properties:
                    uid:
                      type: string
                    name:
                      type: string
                    url:
                      type: string
                    type:
                      type: string
                      enum:
                        - video
                        - file
                  required:
                    - uid
                    - name
                    - url
                    - type
              price:
                type: number
                description: 'если отсутствует - не показывать цену, если = 0 бесплатно'
              author:
                type: array
                items:
                  type: object
                  properties:
                    firstName:
                      type: string
                      description: фамилия
                    uid:
                      type: string
                      description: идентификатор сотрудника
                    lastName:
                      type: string
                      description: имя
                  required:
                    - firstName
                    - uid
                    - lastName
            required:
              - photoList
              - shortDescription
              - fullDescription
              - addDescription
              - name
              - tagList
              - uid
        '401':
          description: Пользователь не идентифицирован
          schema:
            type: object
            properties:
              result:
                type: string
                enum:
                  - userNotIdentified
              description:
                type: string
                default: User not identified
        '403':
          description: Выполнение запроса завершилось ошибкой
          schema:
            type: object
            properties:
              result:
                type: string
                description: код ошибки
              description:
                type: string
                description: описание ошибки
      tags:
        - Information
      operationId: serviceInfo
    x-restlet:
      section: Information
    parameters: [ ]
  /general/changeChain:
    parameters: [ ]
    post:
      summary: сменить город
      operationId: changeChain
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: 'если истина, то усепшно нашелся клиент и никаких манипуляций не нужно, если ложь - то надо запросить создание нового юзера в новом городе'
            required:
              - success
      tags:
        - General
      description: |-
        бесшовная интеграция, при переключении на новый город
        Ответственный Калиниченко Н.
      parameters:
        - type: string
          in: header
          name: content-type
          required: true
        - type: string
          in: header
          name: request
          required: true
          description: имя запроса
        - type: string
          in: header
          name: language
          required: true
          description: язык
        - type: string
          in: header
          name: brand
          required: true
          description: бренд
        - type: string
          in: header
          name: auth-key
          required: true
          description: токен
  /events/feedback:
    post:
      summary: Регистрация обратной связи
      operationId: feedback
      tags:
        - Feedback
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              result:
                type: string
                description: В настоящее время используется строковая константа "Ok"
              description:
                type: string
              requestToken:
                type: string
                description: Номер созданного бизнес-процесса
            required:
              - requestToken
          examples: { }
          headers: { }
      description: |-
        Регистрация обратной связи: создание задач для сотрудников, создание новых профилей клиентов по переданным контактным данным, уточнение контактных данных в найденных профилях.

        Ответственный: Гусев Алексей
      parameters:
        - type: string
          in: header
          name: content-type
          description: MIME-тип
          x-deprecated: false
          required: true
          default: application/json
        - type: string
          in: header
          name: request
          description: Имя запроса
          required: true
          default: feedback
        - type: string
          in: header
          name: language
          description: Язык интерфейса клиента
          required: true
          default: En
        - type: string
          in: header
          name: brand
          description: Бренд
          default: WorldClass
          x-deprecated: false
          pattern: ''
          required: true
        - type: string
          in: header
          name: auth-key
          description: Токен
          pattern: ''
          required: true
          default: fac27165-c295-11ea-bbc2-005056b11c47242
        - in: body
          name: body
          schema:
            type: object
            properties:
              gymId:
                type: string
                description: Идентификатор клуба
              directionId:
                type: string
                description: Идентификатор должности
              requestTypeId:
                type: string
                description: Идентификатор типа обращения
              membershipTypeId:
                type: string
                description: 'Тип контракта: 1-индивидуальный, 2-корпоративный'
              content:
                type: string
                description: Содержание обращения
              content2...contentn:
                type: string
                description: 'Части содержимого обращения, при невозможности уместить все в одном параметре'
              currentTime:
                type: string
                description: Текущая дата сеанса клиента
              company:
                type: string
                description: Название компании
              userId:
                type: string
                description: Идентификатор клиента (uid элемента справочника контрагенты)
              lastName:
                type: string
                description: Фамилия
              firstName:
                type: string
                description: Имя
              secondName:
                type: string
                description: Отчество
              phone:
                type: string
                description: Телефон
              email:
                type: string
                description: e-mail
              referer:
                type: string
                description: UTM-метки
              tildaspecreferer:
                type: string
                description: Реферер запроса с сайта
              tildaspecformid:
                type: string
                description: Идентификатор формы на сайте
              tildaspecformname:
                type: string
                description: Имя формы на сайте
              tildaspecpageid:
                type: string
                description: Идентификатор страницы сайта
              tildaspecprojectid:
                type: string
                description: Идентификатор проекта
              requestSubjectId:
                type: string
                description: Тема обращения
            required:
              - currentTime
              - lastName
              - firstName
              - phone
  /lists/feedbackCatalog:
    post:
      summary: Справочники обратной связи
      tags:
        - Feedback
      responses:
        '200':
          description: OK
      operationId: get-lists-feedbackCatalog
      description: |-
        Получает справочники обратной связи
        Ответственный Калиниченко Н (69691, kalinichenkoNP@wclass.ru)
      parameters:
        - type: string
          in: header
          name: content-type
          required: true
        - type: string
          in: header
          name: request
          required: true
          description: имя запроса
        - type: string
          in: header
          name: language
          required: true
          description: язык
        - type: string
          in: header
          name: brand
          required: true
          description: бренд
        - type: string
          in: header
          name: auth-key
          required: true
          description: токен
        - in: body
          name: body
          schema:
            type: object
            properties:
              requestTypeList:
                type: array
                description: ТипыОбращенияКонтрагентов
[...]
