{
  "swagger": "2.0",
  "info": {
    "description": "Публичная часть API для интеграции с внешними сервисами",
    "version": "1.0",
    "title": "API WorldClass",
    "termsOfService": "",
    "contact": {
      "email": "SupportKPO@wclass.ru"
    }
  },
  "host": "tsolutions.worldclass.ru",
  "basePath": "/API/hs/external",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/schedules/gymSchedule": {
      "post": {
        "summary": "расписание занятий в клубе/клубах - 18.1 (CONNECT)",
        "description": "Возвращает расписание групповых программ в клубе/клубах\n\nТочки входа в метод: \n1. Непосредственно по кнопке в командной панели\n2. Из описания сотрудника\n3. Из описания услуги\n\nОтветственный Наталья Калиниченко (69691/KalinichenkoNP@wclass.ru)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "gymSchedule"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключ авторизации (токен)",
            "x-example": "4f1225f6-cb40-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "gymList": {
                  "type": "array",
                  "default": [
                    "cc35e9c2-d155-11e4-80d1-005056810138"
                  ],
                  "description": "список идентификаторов клубов",
                  "items": {
                    "type": "string"
                  }
                },
                "startDate": {
                  "type": "string",
                  "description": "дата начала",
                  "format": "date",
                  "example": "2019-10-01T13:00:00"
                },
                "endDate": {
                  "type": "string",
                  "description": "дата окончания",
                  "format": "date",
                  "example": "2019-10-15T00:00:00"
                },
                "serviceDescriptionId": {
                  "type": "string",
                  "default": "",
                  "description": "идентификатор описания услуги"
                },
                "employeeId": {
                  "type": "string",
                  "default": "",
                  "description": "идентификатор сотрудника"
                }
              },
              "required": [
                "gymList",
                "startDate",
                "endDate"
              ]
            },
            "x-examples": {},
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "gymList": {
                  "type": "array",
                  "description": "список идентификаторов клубов",
                  "items": {
                    "type": "string"
                  }
                },
                "startDate": {
                  "type": "string",
                  "format": "date",
                  "description": "дата начала",
                  "example": "2019-07-01T13:00:00"
                },
                "endDate": {
                  "type": "string",
                  "format": "date",
                  "description": "дата окончания",
                  "example": "2019-07-15T00:00:00"
                },
                "serviceDescriptionId": {
                  "type": "string",
                  "description": "идентификатор описания услуги"
                },
                "employeeId": {
                  "type": "string",
                  "description": "идентификатор сотрудника"
                }
              },
              "required": [
                "gymList",
                "startDate",
                "endDate"
              ]
            },
            "x-examples": {
              "example-1": {}
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "docId": {
                    "type": "string",
                    "description": "идентификатор документа группового занятия"
                  },
                  "date": {
                    "description": "время начала группового занятия",
                    "type": "string"
                  },
                  "service": {
                    "type": "object",
                    "description": "описание услуги",
                    "required": [
                      "uid",
                      "name",
                      "shortDescription",
                      "photo",
                      "tagList"
                    ],
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "идентификатор описания услуги"
                      },
                      "name": {
                        "type": "string",
                        "description": "наименование описания услуги"
                      },
                      "shortDescription": {
                        "type": "string",
                        "description": "краткое описания услуги"
                      },
                      "photo": {
                        "type": "string",
                        "description": "URL фотографии"
                      },
                      "tagList": {
                        "type": "array",
                        "description": "теги",
                        "items": {
                          "title": "tag",
                          "type": "object",
                          "properties": {
                            "tag": {
                              "type": "string",
                              "description": "наименование"
                            },
                            "weight": {
                              "description": "вес",
                              "type": "number"
                            },
                            "level": {
                              "description": "уровень",
                              "type": "number"
                            }
                          },
                          "required": [
                            "tag",
                            "weight",
                            "level"
                          ]
                        }
                      }
                    }
                  },
                  "isPreBooked": {
                    "type": "boolean",
                    "description": "требуется предварительная запись"
                  },
                  "isPrePaid": {
                    "type": "boolean",
                    "description": "требуется предварительная оплата"
                  },
                  "onlyWithParents": {
                    "type": "boolean",
                    "description": "при обязательном участии родителей"
                  },
                  "onlyMembers": {
                    "type": "boolean",
                    "description": "только члены клуба"
                  },
                  "duration": {
                    "type": "number",
                    "description": "длительность занятия"
                  },
                  "employee": {
                    "type": "object",
                    "description": "сотрудник",
                    "required": [
                      "uid",
                      "firstName",
                      "lastName"
                    ],
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "идентификатор сотрудника"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "имя"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "фамилия"
                      }
                    }
                  },
                  "room": {
                    "type": "object",
                    "description": "наименование помещения",
                    "required": [
                      "uid",
                      "name",
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "uid": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "latitude": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      }
                    }
                  },
                  "ageMin": {
                    "type": "number",
                    "description": "минимальный возраст,  в месяцах"
                  },
                  "ageMax": {
                    "type": "number",
                    "description": "максимальный возраст,  в месяцах"
                  },
                  "studentLevel": {
                    "type": "string",
                    "description": "уровень подготовки",
                    "enum": [
                      "Any",
                      "Beginner",
                      "Medium",
                      "High"
                    ]
                  },
                  "serviceKindName": {
                    "type": "string",
                    "description": "вид деятельности"
                  },
                  "gym": {
                    "type": "object",
                    "description": "клуб",
                    "required": [
                      "uid",
                      "name"
                    ],
                    "properties": {
                      "uid": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "recorded": {
                    "type": "boolean",
                    "description": "клиент записан на урок"
                  },
                  "canCancel": {
                    "type": "boolean",
                    "description": "клиент может отменить запись на урок"
                  },
                  "canRecord": {
                    "type": "boolean",
                    "description": "клиент может записаться на урок"
                  },
                  "availablePlaces": {
                    "type": "number",
                    "description": "количество доступных мест"
                  },
                  "price": {
                    "type": "number",
                    "description": "цена, если 0, то ставим неопределено"
                  }
                },
                "required": [
                  "docId",
                  "date",
                  "service",
                  "isPreBooked",
                  "isPrePaid",
                  "onlyWithParents",
                  "onlyMembers",
                  "duration",
                  "employee",
                  "room",
                  "ageMin",
                  "ageMax",
                  "studentLevel",
                  "serviceKindName",
                  "gym",
                  "recorded",
                  "canCancel",
                  "canRecord",
                  "availablePlaces"
                ]
              }
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "tags": [
          "Schedules"
        ],
        "operationId": "gymSchedule"
      },
      "x-restlet": {
        "section": "Schedules"
      },
      "parameters": []
    },
    "/lists/gymList": {
      "post": {
        "summary": "список клубов - 5.5; 20.1 (CONNECT)",
        "description": "Возвращает список клубов заданной сети\n\nОтветственный Давид Мелкумян",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "gymList"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "4f1225f6-cb40-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470",
            "maxLength": 0
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chain": {
                  "type": "integer",
                  "description": "идентификатор сети",
                  "example": 1
                }
              }
            },
            "x-examples": {},
            "description": "request example  "
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "идентификатор клуба",
                    "minLength": 36,
                    "maxLength": 36
                  },
                  "name": {
                    "type": "string",
                    "description": "наименование клуба"
                  },
                  "type": {
                    "type": "string",
                    "description": "тип клуба"
                  },
                  "address": {
                    "type": "string",
                    "description": "адрес клуба"
                  },
                  "segment": {
                    "type": "object",
                    "description": "сегмент клуба",
                    "required": [
                      "name",
                      "color"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      }
                    }
                  },
                  "coords": {
                    "type": "object",
                    "description": "координаты",
                    "required": [
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "description": "широта"
                      },
                      "longitude": {
                        "type": "number",
                        "description": "долгота"
                      }
                    }
                  },
                  "metro": {
                    "type": "array",
                    "description": "метро",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "наименование"
                        },
                        "lineColor": {
                          "type": "string",
                          "description": "телефон"
                        },
                        "lineName": {
                          "type": "string",
                          "description": "время работы в будни"
                        },
                        "lineNumber": {
                          "type": "string",
                          "description": "время  работы в выходные и праздники"
                        }
                      },
                      "required": [
                        "name",
                        "lineColor",
                        "lineName",
                        "lineNumber"
                      ]
                    }
                  },
                  "phone": {
                    "type": "string",
                    "description": "основной телефон клуба"
                  },
                  "hasAccess": {
                    "type": "boolean",
                    "description": "есть доступ, для не авторизованного клиента null"
                  },
                  "photo": {
                    "type": "string",
                    "description": "основное фото клуба"
                  },
                  "state": {
                    "type": "string",
                    "description": "состояние: \"Предпродажи\", \"Ремонт\" и т.д."
                  },
                  "weekdaysTime": {
                    "type": "string",
                    "description": "время работы в будни"
                  },
                  "holidaysTime": {
                    "type": "string",
                    "description": "время работы в выходные"
                  }
                },
                "required": [
                  "uid",
                  "name",
                  "type",
                  "address",
                  "segment",
                  "coords",
                  "metro",
                  "phone",
                  "photo"
                ]
              }
            },
            "examples": {}
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "tags": [
          "Lists"
        ],
        "operationId": "gymList"
      },
      "x-restlet": {
        "section": "Lists"
      },
      "parameters": []
    },
    "/lists/chainList": {
      "post": {
        "summary": "список сетей - 1.1 (CONNECT)",
        "description": "Возвращает массив сетей подключенных к личному кабинету\n\nОтветственный Давид Мелкумян",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "chainList"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "None",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "brand": {
                    "type": "string",
                    "description": "бренд"
                  },
                  "code": {
                    "type": "number",
                    "description": "код сети"
                  },
                  "holdingCode": {
                    "type": "number",
                    "description": "код холдинга"
                  },
                  "name": {
                    "type": "string",
                    "description": "наименование сети"
                  },
                  "loyaltyProgram": {
                    "type": "string",
                    "description": "бонусная система",
                    "enum": [
                      "Rating",
                      "Bonus",
                      "RatingBonus",
                      "None"
                    ]
                  },
                  "currencySymbol": {
                    "type": "string",
                    "description": "символ национальной валюты"
                  },
                  "countryCode": {
                    "title": "countryCode",
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "+7",
                        "description": "код страны"
                      },
                      "mask": {
                        "type": "string",
                        "example": "(###) ###-##-##",
                        "description": "маска телефонного номера"
                      }
                    },
                    "required": [
                      "code",
                      "mask"
                    ]
                  },
                  "availableSections": {
                    "type": "array",
                    "description": "доступные разделы",
                    "items": {
                      "type": "string",
                      "enum": [
                        "paymentService",
                        "balance",
                        "bonus",
                        "membershipList",
                        "packageList",
                        "rentedLockerList",
                        "financialHistory",
                        "support"
                      ]
                    }
                  }
                },
                "required": [
                  "brand",
                  "code",
                  "holdingCode",
                  "name",
                  "loyaltyProgram",
                  "currencySymbol",
                  "countryCode",
                  "availableSections"
                ]
              }
            }
          }
        },
        "tags": [
          "Lists"
        ],
        "operationId": "chainList"
      },
      "x-restlet": {
        "section": "Lists"
      },
      "parameters": []
    },
    "/lists/countryCodeList": {
      "post": {
        "summary": "список кодов стран - 1.2 (CONNECT)",
        "description": "Список кодов номеров телефонов по странам с маской номеров телефонов\n\nОтветственный Давид Мелкумян",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "countryCodeList"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "None",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "title": "countryCode",
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "+7",
                    "description": "код страны"
                  },
                  "mask": {
                    "type": "string",
                    "example": "(###) ###-##-##",
                    "description": "маска телефонного номера"
                  }
                },
                "required": [
                  "code",
                  "mask"
                ]
              }
            }
          }
        },
        "tags": [
          "Lists"
        ],
        "operationId": "countryCodeList"
      },
      "x-restlet": {
        "section": "Lists"
      },
      "parameters": []
    },
    "/lists/membershipPriceList": {
      "post": {
        "summary": "прайс лист абонементов - 8.5",
        "description": "Возвращает прайс лист абонементов\n\nОтветственный Андрей Юрков (69694/YurkovAM@wclass.ru)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "membershipPriceList"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "gymId": {
                  "type": "string",
                  "description": "идентификатор клуба",
                  "example": "cc35e9b2-d155-11e4-80d1-005056810138"
                },
                "customerType": {
                  "type": "string",
                  "description": "тип потенциального клиента",
                  "enum": [
                    "self",
                    "other",
                    "guest"
                  ],
                  "example": "self"
                },
                "customer": {
                  "type": "string",
                  "description": "идентификатор клиента, для кого осуществляется покупка"
                }
              },
              "required": [
                "gymId",
                "customerType"
              ]
            },
            "x-examples": {
              "example": "{\"gymId\": \"cc35e9b2-d155-11e4-80d1-005056810138\", \"customerType\": \"self\"}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "array",
              "items": {
                "required": [
                  "duration",
                  "freezing",
                  "name",
                  "paymentType",
                  "photo",
                  "price",
                  "serviceQuantity",
                  "shortDescription",
                  "tagList",
                  "uid",
                  "uidDescription"
                ],
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "идентификатор номенклатуры"
                  },
                  "uidDescription": {
                    "type": "string",
                    "description": "идентификатор описания абонемента"
                  },
                  "name": {
                    "type": "string",
                    "description": "наименование описания абонемента"
                  },
                  "shortDescription": {
                    "type": "string",
                    "description": "короткое описание абонемента"
                  },
                  "photo": {
                    "type": "string",
                    "description": "URL фотографии"
                  },
                  "tagList": {
                    "type": "array",
                    "description": "теги",
                    "items": {
                      "required": [
                        "tag",
                        "weight"
                      ],
                      "type": "object",
                      "properties": {
                        "tag": {
                          "type": "string",
                          "description": "тег"
                        },
                        "weight": {
                          "type": "number",
                          "description": "вес (приоритет)"
                        }
                      }
                    }
                  },
                  "paymentType": {
                    "type": "string",
                    "description": "тип оплаты",
                    "enum": [
                      "prepayment",
                      "installment",
                      "subscribe",
                      "postpay"
                    ]
                  },
                  "serviceQuantity": {
                    "type": "number",
                    "description": "количество услуг в пакете"
                  },
                  "freezing": {
                    "type": "number",
                    "description": "количество дней заморозки"
                  },
                  "price": {
                    "type": "integer",
                    "description": "цена (минимальная цена)"
                  },
                  "duration": {
                    "type": "number",
                    "description": "длительность абонемента"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "tags": [
          "Lists"
        ],
        "operationId": "membershipPriceList"
      },
      "x-restlet": {
        "section": "Lists"
      },
      "parameters": []
    },
    "/info/gymInfo": {
      "x-restlet": {
        "section": "Lists"
      },
      "post": {
        "summary": "информация по клубу - 20.2 (CONNECT)",
        "description": "Возвращает информацию по клубу\n\nОтветственный Давид Мелкумян",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "gymInfo"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "4f1225f6-cb40-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470",
            "maxLength": 0
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "example": "cc35e9bd-d155-11e4-80d1-005056810138",
                  "description": "идентификатор клуба"
                }
              },
              "required": [
                "uid"
              ]
            },
            "description": "request example  "
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "состояние: \"Предпродажи\", \"Ремонт\" и т.д."
                },
                "additional": {
                  "type": "array",
                  "description": "дополнительное описание",
                  "items": {
                    "type": "object",
                    "properties": {
                      "typeDescription": {
                        "type": "array",
                        "description": "Описание типа направления",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "наименование"
                            },
                            "description": {
                              "type": "string",
                              "description": "доп. описание"
                            }
                          },
                          "required": [
                            "name",
                            "description"
                          ]
                        }
                      },
                      "typeName": {
                        "type": "string",
                        "description": "Имя типа направления"
                      }
                    },
                    "required": [
                      "typeDescription",
                      "typeName"
                    ]
                  }
                },
                "metro": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "lineColor": {
                        "type": "string"
                      },
                      "lineName": {
                        "type": "string"
                      },
                      "lineNumber": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "lineColor",
                      "lineName",
                      "lineNumber"
                    ]
                  }
                },
                "photos": {
                  "type": "array",
                  "description": "список URL фотографий",
                  "items": {
                    "type": "string"
                  }
                },
                "departments": {
                  "type": "array",
                  "description": "департаменты",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "наименование"
                      },
                      "phone": {
                        "type": "string",
                        "description": "телефон"
                      },
                      "weekdaysTime": {
                        "type": "string",
                        "description": "время работы в будни"
                      },
                      "holidaysTime": {
                        "type": "string",
                        "description": "время  работы в выходные и праздники"
                      }
                    },
                    "required": [
                      "name",
                      "phone",
                      "weekdaysTime",
                      "holidaysTime"
                    ]
                  }
                },
                "coords": {
                  "type": "object",
                  "description": "координаты",
                  "required": [
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "latitude": {
                      "type": "number",
                      "description": "широта"
                    },
                    "longitude": {
                      "type": "number",
                      "description": "долгота"
                    }
                  }
                },
                "segment": {
                  "type": "object",
                  "description": "наименование  сегмента клуба",
                  "required": [
                    "name",
                    "color"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    }
                  }
                },
                "address": {
                  "type": "string",
                  "description": "адрес клуба"
                },
                "type": {
                  "type": "string",
                  "description": "тип клуба"
                },
                "name": {
                  "type": "string",
                  "description": "наименование клуба"
                },
                "uid": {
                  "type": "string",
                  "description": "идентификатор клуба",
                  "minLength": 36,
                  "maxLength": 36
                }
              },
              "required": [
                "additional",
                "metro",
                "photos",
                "departments",
                "coords",
                "segment",
                "address",
                "type",
                "name",
                "uid"
              ]
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "tags": [
          "Information"
        ],
        "operationId": "gymInfo"
      },
      "parameters": []
    },
    "/payment/paymentPreparation": {
      "post": {
        "summary": "подготовка оплаты 13.1, 13.2",
        "description": "Возвращает список доступных вариантов оплат. Если какой либо вариант не возвращен, значит он не доступен при оплате.\n\nОтветственный Андрей Юрков (69694/YurkovAM@wclass.ru)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "paymentPreparation"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "",
              "properties": {
                "paymentObject": {
                  "type": "array",
                  "description": "Объекты для выставления счета",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Идентификатор абонемента или чека"
                      },
                      "uidType": {
                        "type": "string",
                        "default": "package",
                        "description": "Тип идентификатора",
                        "enum": [
                          "package - абонемент",
                          "invoice - чек"
                        ]
                      }
                    },
                    "required": [
                      "uid",
                      "uidType"
                    ]
                  }
                },
                "account": {
                  "type": "object",
                  "description": "пополнение лицевого счета",
                  "properties": {
                    "gymId": {
                      "type": "string",
                      "description": "идентификатор клуба"
                    },
                    "amount": {
                      "type": "number",
                      "description": "сумма взноса на лицевой счет"
                    }
                  },
                  "required": [
                    "gymId",
                    "amount"
                  ]
                },
                "customerId": {
                  "type": "string",
                  "description": "идентификатор клиента, использовать только при оплате с сайта, без ЛК"
                }
              }
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "идентификатор заказа"
                },
                "paymentOptions": {
                  "type": "array",
                  "description": "доступные способы оплаты",
                  "items": {
                    "type": "object",
                    "properties": {
                      "owner": {
                        "type": "object",
                        "description": "Владелец",
                        "required": [
                          "uid",
                          "firstName",
                          "lastName"
                        ],
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "идентификатор владельца"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Имя"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Фамилия"
                          }
                        }
                      },
                      "cards": {
                        "type": "array",
                        "description": "доступные клиенту банковские карты",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "тип платежной системы",
                              "enum": [
                                "mir",
                                "americanExpress",
                                "jcb",
                                "international",
                                "dinersClub",
                                "visa",
                                "masterCard",
                                "maestro",
                                "chinaUnionPay",
                                "discover",
                                "universalElectronicCard",
                                "none"
                              ]
                            },
                            "name": {
                              "type": "string",
                              "description": "наименование"
                            },
                            "uid": {
                              "type": "string",
                              "description": "идентификатор карты"
                            },
                            "amount": {
                              "type": "number",
                              "description": "возможная сумма оплаты"
                            }
                          },
                          "required": [
                            "type",
                            "name",
                            "uid",
                            "amount"
                          ]
                        }
                      },
                      "deposits": {
                        "type": "array",
                        "description": "доступные клиенту авансы",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "account",
                                "bonus"
                              ],
                              "description": "тип депозита"
                            },
                            "balance": {
                              "type": "number",
                              "description": "текущий остаток депозита"
                            },
                            "max": {
                              "type": "number",
                              "description": "максимальная сумма оплаты, более этого значения клиент заплатить не может"
                            },
                            "min": {
                              "type": "number",
                              "description": "минимальная сумма платежа, меньше этого значения клиент заплатить не может"
                            }
                          },
                          "required": [
                            "type",
                            "balance",
                            "max",
                            "min"
                          ]
                        }
                      },
                      "personal": {
                        "type": "boolean",
                        "description": "если истина то это ресурсы клиента"
                      }
                    },
                    "required": [
                      "owner",
                      "personal"
                    ]
                  }
                },
                "paymentAmount": {
                  "type": "number",
                  "description": "сумма к оплате"
                }
              },
              "required": [
                "uid",
                "paymentOptions",
                "paymentAmount"
              ]
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "operationId": "paymentPreparation",
        "tags": [
          "Payment"
        ]
      },
      "x-restlet": {
        "section": "Payment"
      },
      "parameters": []
    },
    "/payment/bindCard": {
      "post": {
        "summary": "привязать карту 5.2",
        "description": "Запрос на привязку банковской карты клиента\n\nОтветственный Давид Мелкумян",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "bindCard"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "object",
              "required": [
                "orderId",
                "formUrl",
                "returnUrl",
                "failUrl"
              ],
              "properties": {
                "orderId": {
                  "type": "string",
                  "description": "идентификатор банковской транзакции"
                },
                "formUrl": {
                  "type": "string",
                  "description": "url перехода на страницу оплаты от банка"
                },
                "returnUrl": {
                  "type": "string",
                  "description": "url успешной оплаты"
                },
                "failUrl": {
                  "type": "string",
                  "description": "url не успешной оплаты"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "operationId": "bindCard",
        "tags": [
          "Payment"
        ]
      },
      "x-restlet": {
        "section": "Payment"
      },
      "parameters": []
    },
    "/payment/paymentStatus": {
      "post": {
        "summary": "статус оплаты",
        "description": "Запрос на привязку банковской карты клиента\n\nОтветственный Давид Мелкумян",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "paymentStatus"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "orderId": {
                  "type": "string",
                  "description": "идентификатор оплаты"
                }
              },
              "required": [
                "orderId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "ok",
                    "fail"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "operationId": "paymentStatus",
        "tags": [
          "Payment"
        ]
      },
      "x-restlet": {
        "section": "Payment"
      },
      "parameters": []
    },
    "/payment/unBindCard": {
      "post": {
        "summary": "отвязать карту 5.2",
        "description": "Запрос на отвязку банковской карты клиента\n\nОтветственный Давид Мелкумян",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "unBindCard"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "идентификатор банковской карты"
                }
              },
              "required": [
                "uid"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "operationId": "unBindCard",
        "tags": [
          "Payment"
        ]
      },
      "x-restlet": {
        "section": "Payment"
      },
      "parameters": []
    },
    "/payment/bindCardList": {
      "post": {
        "summary": "список привязаных карт 5.2",
        "description": "Запрос на получение списка банковских карт клиента\n\nОтветственный Давид Мелкумян",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "bindCardList"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "идентификатор карты"
                  },
                  "name": {
                    "type": "string",
                    "description": "наименование"
                  },
                  "paymentSystem": {
                    "type": "string",
                    "description": "тип платежной системы",
                    "enum": [
                      "mir",
                      "americanExpress",
                      "jcb",
                      "international",
                      "dinersClub",
                      "visa",
                      "masterCard",
                      "maestro",
                      "chinaUnionPay",
                      "discover",
                      "universalElectronicCard"
                    ]
                  }
                },
                "required": [
                  "uid",
                  "name",
                  "paymentSystem"
                ]
              }
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "operationId": "bindCardList",
        "tags": [
          "Payment"
        ]
      },
      "x-restlet": {
        "section": "Payment"
      },
      "parameters": []
    },
    "/payment/customerOrder": {
      "post": {
        "summary": "формирование документа продажи 5.1, 8.19.3, 8.20.2, 9.3 , 10.2",
        "description": "Возвращает документы для оплаты.\n\nОтветственный Андрей Юрков (69694/YurkovAM@wclass.ru)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "type": "string",
            "description": "наименование запроса",
            "default": "customerOrder",
            "required": true,
            "maxLength": 0
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "",
              "properties": {
                "packages": {
                  "type": "object",
                  "description": "Для подготовки оплаты клип-карт",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "Идентификатор номенклатуры пакета"
                    },
                    "gymId": {
                      "type": "string",
                      "description": "идентификатор клуба"
                    }
                  },
                  "required": [
                    "uid",
                    "gymId"
                  ]
                },
                "addPackage": {
                  "type": "object",
                  "description": "Для подготовки оплаты заморозки, со-доступов, доп. пакетов для детей, аренды полотенец",
                  "properties": {
                    "packageId": {
                      "type": "string",
                      "description": "идентификатор абонемента"
                    },
                    "serviceId": {
                      "type": "string",
                      "description": "идентификатор услуги"
                    },
                    "packagType": {
                      "type": "string",
                      "description": "идентификатор клиента",
                      "enum": [
                        "freezing",
                        "access",
                        "customer",
                        "towel"
                      ]
                    },
                    "data": {
                      "type": "string",
                      "description": "Если packagType = freezing или towel, то пусто; если packagType = access, то идентификатор клуба; если packagType = customer, то идентификатор клиента"
                    }
                  },
                  "required": [
                    "packageId",
                    "serviceId",
                    "packagType",
                    "data"
                  ]
                },
                "rentedLocker": {
                  "type": "object",
                  "description": "Для подготовки оплаты аренды шкафчиков",
                  "properties": {
                    "gymId": {
                      "type": "string",
                      "description": "идентификатор клуба"
                    },
                    "serviceId": {
                      "type": "string",
                      "description": "идентификатор услуги"
                    },
                    "duration": {
                      "type": "integer",
                      "description": "длительность"
                    },
                    "lockerId": {
                      "type": "string",
                      "description": "идентификатор ячейки"
                    }
                  },
                  "required": [
                    "gymId",
                    "serviceId",
                    "duration",
                    "lockerId"
                  ]
                },
                "services": {
                  "type": "array",
                  "description": "Для подготовки оплаты услуг/товаров",
                  "items": {
                    "type": "object",
                    "properties": {
                      "docId": {
                        "type": "string",
                        "description": "идентификатор документа"
                      },
                      "docType": {
                        "type": "string",
                        "description": "тип документа",
                        "enum": [
                          "invoice - чек",
                          "lesson - групповое занятие",
                          "prebooking - персональная тренировка"
                        ]
                      },
                      "customer": {
                        "type": "string",
                        "description": "идентификатор клиента"
                      }
                    },
                    "required": [
                      "docId",
                      "docType"
                    ]
                  }
                },
                "customerId": {
                  "type": "string",
                  "description": "идентификатор клиента, использовать только при оплате с сайта, без ЛК"
                }
              }
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "идентификатор абонемента или чека"
                  },
                  "uidType": {
                    "type": "string",
                    "description": "тип идентификатора",
                    "enum": [
                      "package - абонемент",
                      "invoice - чек"
                    ]
                  }
                },
                "required": [
                  "uid",
                  "uidType"
                ]
              }
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "operationId": "customerOrder",
        "tags": [
          "Payment"
        ]
      },
      "x-restlet": {
        "section": "Lists"
      },
      "parameters": []
    },
    "/payment/payment": {
      "post": {
        "summary": "оплата",
        "description": "Фиксирует оплату по авансам, списывает денеждные средства с привязанной карты, возвращает url для перехода на страницу оплаты\n\nОтветственный Давид Мелкумян",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "request",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "наименование запроса",
            "default": "paymentPreparation"
          },
          {
            "name": "language",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "язык интерфейса клиента",
            "default": "En",
            "enum": [
              "Ru",
              "En"
            ]
          },
          {
            "name": "brand",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "бренд",
            "default": "WorldClass",
            "enum": [
              "WorldClass",
              "Fizkult",
              "UFC",
              "None"
            ]
          },
          {
            "name": "auth-key",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "ключи авторизации (токен)",
            "x-example": "b6ef6889-b7c1-11e9-bba8-005056b11c47",
            "default": "4f1225f6-cb40-11e9-bba8-005056b11c470"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "идентификатор заказа"
                },
                "owner": {
                  "type": "string",
                  "description": "владелец карты/авансов, плательщик"
                },
                "card": {
                  "type": "string",
                  "description": "идентификатор карты"
                },
                "deposits": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "тип аванса",
                        "enum": [
                          "account",
                          "bonus"
                        ]
                      },
                      "paymentAmount": {
                        "type": "string",
                        "description": "сумма оплаты"
                      }
                    }
                  }
                }
              },
              "required": [
                "uid"
              ]
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Выполнение запроса завершилось успешно",
            "schema": {
              "type": "object",
              "properties": {
                "orderId": {
                  "type": "string",
                  "description": "идентификатор банковской транзакции"
                },
                "formUrl": {
                  "type": "string",
                  "description": "url перехода на страницу оплаты от банка"
                },
                "returnUrl": {
                  "type": "string",
                  "description": "url успешной оплаты"
                },
                "failUrl": {
                  "type": "string",
                  "description": "url не успешной оплаты"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не идентифицирован",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "enum": [
                    "userNotIdentified"
                  ]
                },
                "description": {
                  "type": "string",
                  "default": "User not identified"
                }
              }
            }
          },
          "403": {
            "description": "Выполнение запроса завершилось ошибкой",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "код ошибки"
                },
                "description": {
                  "type": "string",
                  "description": "описание ошибки"
                }
              }
            }
          }
        },
        "operationId": "payment",
        "tags": [
          "Payment"
        ]
      },
      "x-restlet": {
        "section": "Payment"
      },
      "parameters": []
    }
  },
  "x-restlet": {
    "sections": {
      "Logs": {},
      "Doc": {},
      "General": {
        "description": "Основные методы ЛК"
      },
      "Users": {
        "description": "Методы отностящиеся к пользователю личного кабинета"
      },
      "Customers": {
        "description": "Методы относящиеся к данным клиента"
      },
      "Information": {
        "description": "детализированная информация по различным объектам"
      },
      "Schedules": {
        "description": "События"
      },
      "Lists": {},
      "CacheValuesTypes": {},
      "Temp": {}
    },
    "texts": {
      "ppl23q3": {
        "title": "26.09.2019",
        "content": "Внесены изменения в методы:\n\n* [история бонусных операций](https://wclass.restlet.io/#operation__________________________)\n* [расписание занятий в клубе/клубах - 18.1](https://wclass.restlet.io/#operation___________________________________-_18_1)\n* [активности пользователя 15.1](https://wclass.restlet.io/#operation_________________________15_1)\n\nМетоды готовые к тестированию:\n* [история бонусных операций](https://wclass.restlet.io/#operation__________________________)",
        "section": "Logs"
      },
      "lk1ezbh": {
        "title": "25.09.2019",
        "content": "Внесены изменения в методы:\n\n* [описание сотрудника - 21.2](https://wclass.restlet.io/#operation_____________________-_21_2)\n\tдобавлены теги\n\n* [cписок абонементов - 8.1; 8.2](https://wclass.restlet.io/#operation_c__________________-_8_1__8_2)\n\nДобавлено описание для методов:\n\n* [список услуг и подарков абонемента - 8.4](https://wclass.restlet.io/#operation____________________________________-_8_4)",
        "section": "Logs"
      },
      "t0xsv9s": {
        "title": "24.09.2019",
        "content": "Методы готовые к тестированию:\n\n* [семейный счет - 11.1](https://wclass.restlet.io/#operation_______________-_11_1)\n* [связанные клиенты - 11.2.1](https://wclass.restlet.io/#operation___________________-_11_2_1)",
        "section": "Logs"
      },
      "9xrzmhp": {
        "title": "23.09.2019",
        "content": "Добавлено описание для методов:\n* [список сотрудников - 21.1](https://wclass.restlet.io/#operation____________________-_21_1) \n* [описание сотрудника - 21.2](https://wclass.restlet.io/#operation_____________________-_21_2)\n* [список услуг - 19.1](https://wclass.restlet.io/#operation______________-_19_1)\n* [описание услуги - 19.2](https://wclass.restlet.io/#operation_________________-_19_2)\n* [прайс лист абонементов - 8.5](https://wclass.restlet.io/#operation________________________-_8_5)\n* [описание абонемента для покупки - 8.6; 8.7](https://wclass.restlet.io/#operation_________________________________-_8_6__8_7)\n",
        "section": "Logs"
      },
      "4wqvqg1": {
        "title": "20.09.2019",
        "content": "Методы готовые к тестированию:\n* [история финансовых операций 12.1; 12.2](https://wclass.restlet.io/#operation_____________________________12_1__12_2)\n* [расписание занятий в клубе/клубах - 18.1](https://wclass.restlet.io/#operation___________________________________-_18_1)\n* [активности пользователя 15.1](https://wclass.restlet.io/#operation_________________________15_1)\n\nДобавлено описание для методов:\n* [прайс лист пакетов услуг - 9.2](https://wclass.restlet.io/#operation__________________________-_9_2)\n* [конструктор пакетов услуг - 9.3](https://wclass.restlet.io/#operation___________________________-_9_3)\n\n",
        "section": "Logs"
      },
      "p9793d2": {
        "title": "ошибки",
        "content": "\n\n| Код ошибки| Description | Описание |\n| -------- | -------- | -------- |\n| noAppVersion     | No app version     | Не указана версия приложения     |\n\n",
        "section": "Doc"
      },
      "12voqix": {
        "title": "установка/запуск приложения",
        "content": "1. Пользователь скачал приложение/запустил приложение\n2. Отпрваляется запрос [General/config](https://wclass.restlet.io/#operation_______________________________________). Возвращает информацию об актуальной версии приложения\n3. Отправлеется запрос [General/registerDevice](https://wclass.restlet.io/#operation_______________________). Возвращается токен сеанса (auth-key), а так же всю информацию по данному сеансу.\n\n\n\n",
        "section": "Doc"
      }
    }
  },
  "definitions": {
    "countryCode": {
      "title": "countryCode",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "example": "+7",
          "description": "код страны"
        },
        "mask": {
          "type": "string",
          "example": "(###) ###-##-##",
          "description": "маска телефонного номера"
        }
      },
      "required": [
        "code",
        "mask"
      ]
    },
    "service": {
      "type": "object",
      "description": "Услуга/сегмент",
      "properties": {
        "name": {
          "type": "string",
          "description": "Наименование услуги/сегмента"
        },
        "serviceType": {
          "type": "string",
          "description": "тип объекта: услуга или сегмент",
          "enum": [
            "service",
            "package"
          ]
        },
        "quantity": {
          "type": "integer",
          "description": "Количество услуг/сегментов"
        },
        "entryList": {
          "type": "array",
          "description": "Состав услуги/сегмента",
          "items": {
            "type": "object",
            "properties": {
              "uid": {
                "type": "string",
                "description": "Идентификатор услуги"
              },
              "name": {
                "type": "string",
                "description": "Наименование услуги"
              },
              "shortDescription": {
                "type": "string",
                "description": "Краткое описание услуги"
              },
              "entryType": {
                "type": "string",
                "description": "Тип услуги: персональная тренировка или групповой урок",
                "enum": [
                  "personal",
                  "group"
                ]
              },
              "duration": {
                "type": "number",
                "description": "длительность услуги"
              },
              "employeeKind": {
                "type": "string",
                "description": "категория сотрудника"
              },
              "photo": {
                "type": "string",
                "description": "фотография"
              }
            },
            "required": [
              "uid",
              "entryType"
            ]
          }
        }
      },
      "required": [
        "name",
        "serviceType",
        "entryList"
      ]
    },
    "tag": {
      "title": "tag",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "наименование"
        },
        "weight": {
          "description": "вес",
          "type": "number"
        },
        "level": {
          "description": "уровень",
          "type": "number"
        }
      },
      "required": [
        "tag",
        "weight",
        "level"
      ]
    }
  }
}